<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<array>
		<string>A</string>
		<string>Aring</string>
		<string>Adieresis</string>
		<string>Aacute</string>
		<string>Amacron</string>
		<string>Agrave</string>
		<string>Atilde</string>
		<string>Acircumflex</string>
		<string>Aogonek</string>
		<string>Abreve</string>
	</array>
	<key>@MMK_L_C</key>
	<array>
		<string>Ccedilla</string>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
	</array>
	<key>@MMK_L_E</key>
	<array>
		<string>Ecaron</string>
		<string>Egrave</string>
		<string>Eogonek</string>
		<string>E</string>
		<string>Ecircumflex</string>
		<string>OE</string>
		<string>Edieresis</string>
		<string>Emacron</string>
		<string>Eacute</string>
		<string>AE</string>
		<string>Edotaccent</string>
	</array>
	<key>@MMK_L_K</key>
	<array>
		<string>K</string>
		<string>uni0136</string>
	</array>
	<key>@MMK_L_L</key>
	<array>
		<string>Lslash</string>
		<string>uni013B</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
	</array>
	<key>@MMK_L_O</key>
	<array>
		<string>Oslash</string>
		<string>Omacron</string>
		<string>D</string>
		<string>Odieresis</string>
		<string>Ohungarumlaut</string>
		<string>Ograve</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>O</string>
		<string>Dcaron</string>
		<string>Q</string>
		<string>at</string>
		<string>Dcroat</string>
		<string>Eth</string>
		<string>copyright</string>
		<string>Oacute</string>
	</array>
	<key>@MMK_L_P</key>
	<array>
		<string>P</string>
		<string>Thorn</string>
	</array>
	<key>@MMK_L_R</key>
	<array>
		<string>Racute</string>
		<string>R</string>
		<string>Rcaron</string>
		<string>uni0156</string>
	</array>
	<key>@MMK_L_S</key>
	<array>
		<string>S</string>
		<string>Sacute</string>
		<string>uni0218</string>
		<string>uni015E</string>
		<string>Scaron</string>
	</array>
	<key>@MMK_L_T</key>
	<array>
		<string>uni021A</string>
		<string>T</string>
		<string>Tcaron</string>
	</array>
	<key>@MMK_L_U</key>
	<array>
		<string>Udieresis</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uacute</string>
		<string>Uring</string>
		<string>Ugrave</string>
		<string>Uogonek</string>
		<string>Ucircumflex</string>
		<string>U</string>
	</array>
	<key>@MMK_L_Y</key>
	<array>
		<string>Y</string>
		<string>Ydieresis</string>
		<string>Yacute</string>
	</array>
	<key>@MMK_L_a</key>
	<array>
		<string>a</string>
		<string>aring</string>
		<string>adieresis</string>
		<string>aacute</string>
		<string>amacron</string>
		<string>agrave</string>
		<string>atilde</string>
		<string>acircumflex</string>
		<string>aogonek</string>
		<string>abreve</string>
	</array>
	<key>@MMK_L_asterisk</key>
	<array>
		<string>ordfeminine</string>
		<string>degree</string>
		<string>onesuperior</string>
		<string>ordmasculine</string>
		<string>trademark</string>
		<string>registered</string>
		<string>asterisk</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
	</array>
	<key>@MMK_L_c</key>
	<array>
		<string>ccedilla</string>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
	</array>
	<key>@MMK_L_exclam</key>
	<array>
		<string>guillemotleft</string>
		<string>exclam</string>
		<string>colon</string>
		<string>guilsinglleft</string>
		<string>semicolon</string>
	</array>
	<key>@MMK_L_hyphen</key>
	<array>
		<string>guillemotright</string>
		<string>endash</string>
		<string>divide</string>
		<string>guilsinglright</string>
		<string>minus</string>
		<string>plus</string>
		<string>emdash</string>
		<string>hyphen</string>
		<string>greater</string>
	</array>
	<key>@MMK_L_k</key>
	<array>
		<string>k</string>
		<string>uni0137</string>
	</array>
	<key>@MMK_L_knBHA</key>
	<array>
	</array>
	<key>@MMK_L_knCA</key>
	<array>
	</array>
	<key>@MMK_L_knCHA</key>
	<array>
	</array>
	<key>@MMK_L_knDA</key>
	<array>
	</array>
	<key>@MMK_L_knGA</key>
	<array>
	</array>
	<key>@MMK_L_knGHA</key>
	<array>
	</array>
	<key>@MMK_L_knHA</key>
	<array>
	</array>
	<key>@MMK_L_knJA</key>
	<array>
	</array>
	<key>@MMK_L_knKA</key>
	<array>
	</array>
	<key>@MMK_L_knKHA</key>
	<array>
	</array>
	<key>@MMK_L_knLA</key>
	<array>
	</array>
	<key>@MMK_L_knLLA</key>
	<array>
	</array>
	<key>@MMK_L_knNA</key>
	<array>
	</array>
	<key>@MMK_L_knNNA</key>
	<array>
	</array>
	<key>@MMK_L_knNYA</key>
	<array>
	</array>
	<key>@MMK_L_knPA</key>
	<array>
	</array>
	<key>@MMK_L_knPI</key>
	<array>
	</array>
	<key>@MMK_L_knRA</key>
	<array>
	</array>
	<key>@MMK_L_knSA</key>
	<array>
	</array>
	<key>@MMK_L_knSHA</key>
	<array>
	</array>
	<key>@MMK_L_knSSA</key>
	<array>
	</array>
	<key>@MMK_L_knSub</key>
	<array>
	</array>
	<key>@MMK_L_knSubTall</key>
	<array>
	</array>
	<key>@MMK_L_knSubfollowing</key>
	<array>
	</array>
	<key>@MMK_L_knTA</key>
	<array>
	</array>
	<key>@MMK_L_knTTA</key>
	<array>
	</array>
	<key>@MMK_L_knVA</key>
	<array>
	</array>
	<key>@MMK_L_knsignAA</key>
	<array>
	</array>
	<key>@MMK_L_knsignAU</key>
	<array>
	</array>
	<key>@MMK_L_knsignEIvariants</key>
	<array>
	</array>
	<key>@MMK_L_knsignU</key>
	<array>
	</array>
	<key>@MMK_L_knsignUU</key>
	<array>
	</array>
	<key>@MMK_L_knsignUlow</key>
	<array>
	</array>
	<key>@MMK_L_knsignVirama</key>
	<array>
	</array>
	<key>@MMK_L_o</key>
	<array>
		<string>ae</string>
		<string>Zdotaccent</string>
		<string>ograve</string>
		<string>ocircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>eogonek</string>
		<string>Zcaron</string>
		<string>otilde</string>
		<string>Zacute</string>
		<string>oslash</string>
		<string>ecircumflex</string>
		<string>odieresis</string>
		<string>ohungarumlaut</string>
		<string>emacron</string>
		<string>eacute</string>
		<string>Z</string>
		<string>ecaron</string>
		<string>omacron</string>
		<string>b</string>
		<string>e</string>
		<string>oe</string>
		<string>o</string>
		<string>p</string>
		<string>eth</string>
		<string>thorn</string>
		<string>oacute</string>
	</array>
	<key>@MMK_L_parenleft</key>
	<array>
		<string>bracketleft</string>
		<string>parenleft</string>
		<string>braceleft</string>
	</array>
	<key>@MMK_L_period</key>
	<array>
		<string>ellipsis</string>
		<string>comma</string>
		<string>period</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
	</array>
	<key>@MMK_L_quoteleft</key>
	<array>
		<string>quotedblleft</string>
		<string>quoteleft</string>
	</array>
	<key>@MMK_L_quoteright</key>
	<array>
		<string>quotedblright</string>
		<string>quotedbl</string>
		<string>lcaron</string>
		<string>dcaron</string>
		<string>quoteright</string>
		<string>quotesingle</string>
	</array>
	<key>@MMK_L_r</key>
	<array>
		<string>racute</string>
		<string>r</string>
		<string>uni0157</string>
		<string>rcaron</string>
	</array>
	<key>@MMK_L_t</key>
	<array>
		<string>uni0163</string>
		<string>t</string>
		<string>uni021B</string>
		<string>tcaron</string>
	</array>
	<key>@MMK_L_y</key>
	<array>
		<string>y</string>
		<string>ydieresis</string>
		<string>yacute</string>
	</array>
	<key>@MMK_L_z</key>
	<array>
		<string>zacute</string>
		<string>z</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
	</array>
	<key>@MMK_R_A</key>
	<array>
		<string>A</string>
		<string>Aring</string>
		<string>Adieresis</string>
		<string>Aacute</string>
		<string>Amacron</string>
		<string>Agrave</string>
		<string>Atilde</string>
		<string>Acircumflex</string>
		<string>AE</string>
		<string>Aogonek</string>
		<string>Abreve</string>
	</array>
	<key>@MMK_R_O</key>
	<array>
		<string>Oslash</string>
		<string>Gbreve</string>
		<string>C</string>
		<string>Odieresis</string>
		<string>G</string>
		<string>Ohungarumlaut</string>
		<string>Ograve</string>
		<string>OE</string>
		<string>Cacute</string>
		<string>uni0122</string>
		<string>Omacron</string>
		<string>Ccaron</string>
		<string>Otilde</string>
		<string>Q</string>
		<string>copyright</string>
		<string>O</string>
		<string>at</string>
		<string>Ccedilla</string>
		<string>Ocircumflex</string>
		<string>Oacute</string>
	</array>
	<key>@MMK_R_S</key>
	<array>
		<string>S</string>
		<string>Sacute</string>
		<string>uni0218</string>
		<string>uni015E</string>
		<string>Scaron</string>
	</array>
	<key>@MMK_R_T</key>
	<array>
		<string>uni0162</string>
		<string>uni021A</string>
		<string>T</string>
		<string>Tcaron</string>
	</array>
	<key>@MMK_R_U</key>
	<array>
		<string>Udieresis</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uacute</string>
		<string>Uring</string>
		<string>Ugrave</string>
		<string>Uogonek</string>
		<string>Ucircumflex</string>
		<string>U</string>
	</array>
	<key>@MMK_R_Y</key>
	<array>
		<string>Y</string>
		<string>Ydieresis</string>
		<string>Yacute</string>
	</array>
	<key>@MMK_R_Z</key>
	<array>
		<string>Zacute</string>
		<string>Z</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
	</array>
	<key>@MMK_R_a</key>
	<array>
		<string>a</string>
		<string>aring</string>
		<string>ae</string>
		<string>aacute</string>
		<string>amacron</string>
		<string>agrave</string>
		<string>atilde</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>aogonek</string>
		<string>abreve</string>
	</array>
	<key>@MMK_R_asterisk</key>
	<array>
		<string>ordfeminine</string>
		<string>degree</string>
		<string>onesuperior</string>
		<string>ordmasculine</string>
		<string>trademark</string>
		<string>registered</string>
		<string>asterisk</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
	</array>
	<key>@MMK_R_exclam</key>
	<array>
		<string>guilsinglright</string>
		<string>exclam</string>
		<string>colon</string>
		<string>guillemotright</string>
		<string>semicolon</string>
	</array>
	<key>@MMK_R_f</key>
	<array>
		<string>fi</string>
		<string>fl</string>
		<string>f</string>
	</array>
	<key>@MMK_R_hyphen</key>
	<array>
		<string>endash</string>
		<string>guillemotleft</string>
		<string>divide</string>
		<string>less</string>
		<string>hyphen</string>
		<string>guilsinglleft</string>
		<string>plus</string>
		<string>emdash</string>
		<string>minus</string>
	</array>
	<key>@MMK_R_knBA</key>
	<array>
	</array>
	<key>@MMK_R_knDA</key>
	<array>
	</array>
	<key>@MMK_R_knE</key>
	<array>
	</array>
	<key>@MMK_R_knGA</key>
	<array>
	</array>
	<key>@MMK_R_knHA</key>
	<array>
	</array>
	<key>@MMK_R_knKA</key>
	<array>
	</array>
	<key>@MMK_R_knKAc2</key>
	<array>
	</array>
	<key>@MMK_R_knKHA</key>
	<array>
	</array>
	<key>@MMK_R_knLA</key>
	<array>
	</array>
	<key>@MMK_R_knLLA</key>
	<array>
	</array>
	<key>@MMK_R_knNA</key>
	<array>
	</array>
	<key>@MMK_R_knNYA</key>
	<array>
	</array>
	<key>@MMK_R_knPA</key>
	<array>
	</array>
	<key>@MMK_R_knPI</key>
	<array>
	</array>
	<key>@MMK_R_knRA</key>
	<array>
	</array>
	<key>@MMK_R_knRRA</key>
	<array>
	</array>
	<key>@MMK_R_knSHA</key>
	<array>
	</array>
	<key>@MMK_R_knSubs</key>
	<array>
	</array>
	<key>@MMK_R_knSubsfollow</key>
	<array>
	</array>
	<key>@MMK_R_knTA</key>
	<array>
	</array>
	<key>@MMK_R_knTTA</key>
	<array>
	</array>
	<key>@MMK_R_knVA</key>
	<array>
	</array>
	<key>@MMK_R_knYA</key>
	<array>
	</array>
	<key>@MMK_R_o</key>
	<array>
		<string>ograve</string>
		<string>ocircumflex</string>
		<string>uni0123</string>
		<string>edieresis</string>
		<string>ccedilla</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>eogonek</string>
		<string>otilde</string>
		<string>ccaron</string>
		<string>dcaron</string>
		<string>oslash</string>
		<string>gbreve</string>
		<string>ecircumflex</string>
		<string>odieresis</string>
		<string>ohungarumlaut</string>
		<string>cacute</string>
		<string>omacron</string>
		<string>emacron</string>
		<string>dcroat</string>
		<string>eacute</string>
		<string>ecaron</string>
		<string>c</string>
		<string>e</string>
		<string>d</string>
		<string>g</string>
		<string>oe</string>
		<string>o</string>
		<string>q</string>
		<string>eth</string>
		<string>oacute</string>
	</array>
	<key>@MMK_R_parenright</key>
	<array>
		<string>parenright</string>
		<string>bracketright</string>
		<string>braceright</string>
	</array>
	<key>@MMK_R_period</key>
	<array>
		<string>ellipsis</string>
		<string>comma</string>
		<string>period</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
	</array>
	<key>@MMK_R_quoteleft</key>
	<array>
		<string>quotedblleft</string>
		<string>quoteleft</string>
	</array>
	<key>@MMK_R_quoteright</key>
	<array>
		<string>quoteright</string>
		<string>quotedblright</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
	</array>
	<key>@MMK_R_r</key>
	<array>
		<string>udieresis</string>
		<string>uhungarumlaut</string>
		<string>nacute</string>
		<string>uni0157</string>
		<string>rcaron</string>
		<string>igrave</string>
		<string>ugrave</string>
		<string>dotlessi</string>
		<string>racute</string>
		<string>uni0146</string>
		<string>ntilde</string>
		<string>uogonek</string>
		<string>ucircumflex</string>
		<string>umacron</string>
		<string>iacute</string>
		<string>uacute</string>
		<string>icircumflex</string>
		<string>uring</string>
		<string>iogonek</string>
		<string>i</string>
		<string>m</string>
		<string>n</string>
		<string>imacron</string>
		<string>r</string>
		<string>u</string>
		<string>ncaron</string>
		<string>idieresis</string>
	</array>
	<key>@MMK_R_s</key>
	<array>
		<string>s</string>
		<string>sacute</string>
		<string>uni015F</string>
		<string>scaron</string>
		<string>uni0219</string>
	</array>
	<key>@MMK_R_t</key>
	<array>
		<string>uni0163</string>
		<string>t</string>
		<string>uni021B</string>
		<string>tcaron</string>
	</array>
	<key>@MMK_R_y</key>
	<array>
		<string>y</string>
		<string>ydieresis</string>
		<string>yacute</string>
	</array>
	<key>@MMK_R_z</key>
	<array>
		<string>zacute</string>
		<string>z</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
	</array>
</dict>
</plist>
