<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<false/>
	<key>com.schriftgestaltung.fontMaster.userData</key>
	<dict>
		<key>GSCornerRadius</key>
		<integer>55</integer>
	</dict>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>A309AC34-D742-49E2-8DE7-30304959F2B2</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<false/>
	<key>com.schriftgestaltung.useNiceNames</key>
	<true/>
	<key>com.schriftgestaltung.weight</key>
	<string>Bold</string>
	<key>com.typemytype.robofont.guides</key>
	<array>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<true/>
			<key>x</key>
			<integer>-109</integer>
			<key>y</key>
			<integer>587</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<true/>
			<key>x</key>
			<integer>-84</integer>
			<key>y</key>
			<integer>502</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<true/>
			<key>x</key>
			<integer>650</integer>
			<key>y</key>
			<integer>-11</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<true/>
			<key>x</key>
			<integer>504</integer>
			<key>y</key>
			<integer>-140</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<true/>
			<key>x</key>
			<integer>419</integer>
			<key>y</key>
			<integer>-82</integer>
		</dict>
	</array>
	<key>public.glyphOrder</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>AE</string>
		<string>B</string>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Cdotaccent</string>
		<string>D</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>F</string>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcommaaccent</string>
		<string>Gdotaccent</string>
		<string>H</string>
		<string>Hbar</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>J</string>
		<string>K</string>
		<string>Kcommaaccent</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>Lslash</string>
		<string>M</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Eng</string>
		<string>Ntilde</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>P</string>
		<string>Thorn</string>
		<string>Q</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scommaaccent</string>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>Tcedilla</string>
		<string>Tcommaaccent</string>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>V</string>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>X</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
		<string>ae</string>
		<string>b</string>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>cdotaccent</string>
		<string>d</string>
		<string>eth</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>f</string>
		<string>g</string>
		<string>gbreve</string>
		<string>gcommaaccent</string>
		<string>gdotaccent</string>
		<string>h</string>
		<string>hbar</string>
		<string>i</string>
		<string>idotless</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>idotaccent</string>
		<string>igrave</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>j</string>
		<string>k</string>
		<string>kcommaaccent</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>lcommaaccent</string>
		<string>lslash</string>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>eng</string>
		<string>ntilde</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>oe</string>
		<string>p</string>
		<string>thorn</string>
		<string>q</string>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scommaaccent</string>
		<string>germandbls</string>
		<string>t</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>tcedilla</string>
		<string>tcommaaccent</string>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>v</string>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
		<string>x</string>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ygrave</string>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>fi</string>
		<string>fl</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>pi</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>fraction</string>
		<string>onehalf</string>
		<string>onequarter</string>
		<string>threequarters</string>
		<string>onesuperior</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>asterisk</string>
		<string>backslash</string>
		<string>periodcentered</string>
		<string>bullet</string>
		<string>colon</string>
		<string>comma</string>
		<string>ellipsis</string>
		<string>exclam</string>
		<string>exclamdown</string>
		<string>numbersign</string>
		<string>period</string>
		<string>question</string>
		<string>questiondown</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>semicolon</string>
		<string>slash</string>
		<string>underscore</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>emdash</string>
		<string>endash</string>
		<string>hyphen</string>
		<string>uni00AD</string>
		<string>guillemetleft</string>
		<string>guillemetright</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>quotedblbase</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotesinglbase</string>
		<string>space</string>
		<string>CR</string>
		<string>.notdef</string>
		<string>cent</string>
		<string>currency</string>
		<string>dollar</string>
		<string>euro</string>
		<string>florin</string>
		<string>sterling</string>
		<string>uni20BA</string>
		<string>uni20BD</string>
		<string>yen</string>
		<string>plus</string>
		<string>minus</string>
		<string>multiply</string>
		<string>divide</string>
		<string>equal</string>
		<string>notequal</string>
		<string>greater</string>
		<string>less</string>
		<string>greaterequal</string>
		<string>lessequal</string>
		<string>plusminus</string>
		<string>approxequal</string>
		<string>asciitilde</string>
		<string>logicalnot</string>
		<string>infinity</string>
		<string>integral</string>
		<string>uni2126</string>
		<string>uni2206</string>
		<string>product</string>
		<string>summation</string>
		<string>radical</string>
		<string>partialdiff</string>
		<string>uni00B5</string>
		<string>percent</string>
		<string>perthousand</string>
		<string>uni2215</string>
		<string>uni2219</string>
		<string>lozenge</string>
		<string>at</string>
		<string>ampersand</string>
		<string>paragraph</string>
		<string>section</string>
		<string>copyright</string>
		<string>registered</string>
		<string>trademark</string>
		<string>degree</string>
		<string>bar</string>
		<string>brokenbar</string>
		<string>dagger</string>
		<string>uni2113</string>
		<string>daggerdbl</string>
		<string>asciicircum</string>
		<string>dieresiscomb</string>
		<string>dotaccentcomb</string>
		<string>gravecomb</string>
		<string>acutecomb</string>
		<string>hungarumlautcomb</string>
		<string>circumflexcomb</string>
		<string>caroncomb</string>
		<string>brevecomb</string>
		<string>ringcomb</string>
		<string>tildecomb</string>
		<string>macroncomb</string>
		<string>commaturnedabovecomb</string>
		<string>commaaccentcomb</string>
		<string>cedillacomb</string>
		<string>ogonekcomb</string>
		<string>strokeshortcomb</string>
		<string>strokelongcomb</string>
		<string>slashshortcomb</string>
		<string>slashlongcomb</string>
		<string>dieresiscomb.case</string>
		<string>dotaccentcomb.case</string>
		<string>gravecomb.case</string>
		<string>acutecomb.case</string>
		<string>hungarumlautcomb.case</string>
		<string>circumflexcomb.case</string>
		<string>caroncomb.case</string>
		<string>brevecomb.case</string>
		<string>ringcomb.case</string>
		<string>tildecomb.case</string>
		<string>macroncomb.case</string>
		<string>uni02C9</string>
		<string>acute</string>
		<string>breve</string>
		<string>caron</string>
		<string>cedilla</string>
		<string>circumflex</string>
		<string>dieresis</string>
		<string>dotaccent</string>
		<string>grave</string>
		<string>hungarumlaut</string>
		<string>macron</string>
		<string>ogonek</string>
		<string>ring</string>
		<string>tilde</string>
		<string>BASE</string>
		<string>bAa</string>
		<string>bAi</string>
		<string>bAnusvara</string>
		<string>bA</string>
		<string>bAu</string>
		<string>bAuMarkReph</string>
		<string>bAuMark</string>
		<string>bAvagraha</string>
		<string>bBa</string>
		<string>bBaphala</string>
		<string>bBBa</string>
		<string>bBDa</string>
		<string>bBBha</string>
		<string>bBDdha</string>
		<string>bBDda</string>
		<string>bBDha</string>
		<string>bBha</string>
		<string>bBDRa</string>
		<string>bBhBa</string>
		<string>bBhRa</string>
		<string>bBhLa</string>
		<string>bBhRa_bSignU</string>
		<string>bBhRa_bSignUu</string>
		<string>bBJa</string>
		<string>bBJha</string>
		<string>bBLa</string>
		<string>bBRa</string>
		<string>bBRa_bSignU</string>
		<string>bBRa_bSignUu</string>
		<string>bCa</string>
		<string>bCandrabindu</string>
		<string>bCBa</string>
		<string>bCCa</string>
		<string>bCCha</string>
		<string>bCChBa</string>
		<string>bCha</string>
		<string>bCChRa</string>
		<string>bChBa</string>
		<string>bChRa</string>
		<string>bCNa</string>
		<string>bCRa</string>
		<string>bCNya</string>
		<string>bDa</string>
		<string>bDBa</string>
		<string>bDBhRa</string>
		<string>bDBha</string>
		<string>bDDa</string>
		<string>bDandaPoetic</string>
		<string>bDDha</string>
		<string>bDDBa</string>
		<string>bDDhBa</string>
		<string>bDDRa</string>
		<string>bDda</string>
		<string>bDdBa</string>
		<string>bDdGa</string>
		<string>bDdDda</string>
		<string>bDdha</string>
		<string>bDdhRa</string>
		<string>bDdMa</string>
		<string>bDGa</string>
		<string>bDGha</string>
		<string>bDdRa</string>
		<string>bDha</string>
		<string>bDhBa</string>
		<string>bDhMa</string>
		<string>bDhNa</string>
		<string>bDhRa_bSignUu</string>
		<string>bDhRa_bSignU</string>
		<string>bDhRa</string>
		<string>bDMa</string>
		<string>bDoubleDandaPoetic</string>
		<string>bDNa</string>
		<string>bDRa</string>
		<string>bDRa_bSignU</string>
		<string>bDRa_bSignUu</string>
		<string>bEight</string>
		<string>bE</string>
		<string>bFive</string>
		<string>bFour</string>
		<string>bGa</string>
		<string>bGa_bSignU</string>
		<string>bGBa</string>
		<string>bGDha</string>
		<string>bGDa</string>
		<string>bGGa</string>
		<string>bGDhBa</string>
		<string>bGDhRa</string>
		<string>bGha</string>
		<string>bGhBa</string>
		<string>bGhNa</string>
		<string>bGhRa</string>
		<string>bGLa</string>
		<string>bGRa</string>
		<string>bGRa_bSignU</string>
		<string>bGNa</string>
		<string>bGMa</string>
		<string>bGRa_bSignUu</string>
		<string>bHa</string>
		<string>bHa_bSignU</string>
		<string>bHa_bSignVocalicR</string>
		<string>bHMa</string>
		<string>bHBa</string>
		<string>bHNna</string>
		<string>bHNa</string>
		<string>bHLa</string>
		<string>bHRa</string>
		<string>bI</string>
		<string>bIi</string>
		<string>bIsshar</string>
		<string>bJBa</string>
		<string>bJha</string>
		<string>bJa</string>
		<string>bJhRa</string>
		<string>bJJBa</string>
		<string>bJJa</string>
		<string>bJJha</string>
		<string>bJNya</string>
		<string>bJRa</string>
		<string>bKBa</string>
		<string>bKha</string>
		<string>bKhandTa</string>
		<string>bKhBa</string>
		<string>bKhRa</string>
		<string>bKKa</string>
		<string>bKa</string>
		<string>bKMa</string>
		<string>bKLa</string>
		<string>bKNa</string>
		<string>bKRa</string>
		<string>bKSa</string>
		<string>bKSsa</string>
		<string>bKSsBa</string>
		<string>bKTa</string>
		<string>bKSsMa</string>
		<string>bKSsNna</string>
		<string>bKSsRa</string>
		<string>bKTBa</string>
		<string>bKTRa</string>
		<string>bKTtRa</string>
		<string>bLa</string>
		<string>bKTta</string>
		<string>bLBa</string>
		<string>bLDda</string>
		<string>bLDa</string>
		<string>bLDdha</string>
		<string>bLGa</string>
		<string>bLDdRa</string>
		<string>bLGha</string>
		<string>bLGa_bSignU</string>
		<string>bLKa</string>
		<string>bLMa</string>
		<string>bLPa</string>
		<string>bLLa</string>
		<string>bLPha</string>
		<string>bLRa</string>
		<string>bLSa</string>
		<string>bLTta</string>
		<string>bLTtRa</string>
		<string>bMa</string>
		<string>bMBa</string>
		<string>bMBha</string>
		<string>bMDa</string>
		<string>bMBhRa</string>
		<string>bMLa</string>
		<string>bMNa</string>
		<string>bMPa</string>
		<string>bMMa</string>
		<string>bMPha</string>
		<string>bMPRa</string>
		<string>bMPhRa</string>
		<string>bMRa</string>
		<string>bMTa</string>
		<string>bNa</string>
		<string>bNDBa</string>
		<string>bNDda</string>
		<string>bNDa</string>
		<string>bNBa</string>
		<string>bNDha</string>
		<string>bNDdRa</string>
		<string>bNga</string>
		<string>bNDhBa</string>
		<string>bNgGha</string>
		<string>bNDhRa</string>
		<string>bNDRa</string>
		<string>bNgGa</string>
		<string>bNgGhRa</string>
		<string>bNgKha</string>
		<string>bNgKa</string>
		<string>bNgKRa.alt</string>
		<string>bNgKRa</string>
		<string>bNine</string>
		<string>bNgMa</string>
		<string>bNgRa</string>
		<string>bNMa</string>
		<string>bNgKSsa</string>
		<string>bNna</string>
		<string>bNgKSsRa</string>
		<string>bNKTa</string>
		<string>bNNa</string>
		<string>bNnBa</string>
		<string>bNnDdha</string>
		<string>bNnDda</string>
		<string>bNnNna</string>
		<string>bNnDdRa</string>
		<string>bNnDdhRa</string>
		<string>bNnMa</string>
		<string>bNnRa</string>
		<string>bNnTta</string>
		<string>bNnTtha</string>
		<string>bNRa</string>
		<string>bNnTthRa</string>
		<string>bNnTtRa</string>
		<string>bNSa</string>
		<string>bNTa</string>
		<string>bNTBa</string>
		<string>bNTa_bSignU</string>
		<string>bNTha</string>
		<string>bNTta</string>
		<string>bNTRa</string>
		<string>bNukta</string>
		<string>bNTtha</string>
		<string>bNya</string>
		<string>bNThRa</string>
		<string>bNTtRa</string>
		<string>bNyCa</string>
		<string>bNyCBa</string>
		<string>bNyCha</string>
		<string>bNyDha</string>
		<string>bNyJa</string>
		<string>bNyRa</string>
		<string>bNyJha</string>
		<string>bO</string>
		<string>bOne</string>
		<string>bPa</string>
		<string>bPha</string>
		<string>bPhLa</string>
		<string>bPhRa</string>
		<string>bPMa</string>
		<string>bPLa</string>
		<string>bPPa</string>
		<string>bPNa</string>
		<string>bPRa</string>
		<string>bPRa_bSignU</string>
		<string>bPRa_bSignUu</string>
		<string>bPhTta</string>
		<string>bPSa</string>
		<string>bRa</string>
		<string>bPTa</string>
		<string>bPTRa</string>
		<string>bRaAssamese</string>
		<string>bRa_bSignUu</string>
		<string>bPTTa</string>
		<string>bRa_bSignU</string>
		<string>bPTta</string>
		<string>bRaAssamese_bSignU</string>
		<string>bRaAssamese_bSignUu</string>
		<string>bRaphala</string>
		<string>bReph</string>
		<string>bRha</string>
		<string>bRra</string>
		<string>bRrGa</string>
		<string>bRhRa</string>
		<string>bRupeesign</string>
		<string>bRrRa</string>
		<string>bSeven</string>
		<string>bSa</string>
		<string>bSBa</string>
		<string>bSha</string>
		<string>bSha_bSignU</string>
		<string>bShBa</string>
		<string>bShCa</string>
		<string>bShCha</string>
		<string>bShRa_bSignIi</string>
		<string>bShLa</string>
		<string>bShNa</string>
		<string>bShMa</string>
		<string>bShRa</string>
		<string>bShRa_bSignU</string>
		<string>bShRa_bSignUu</string>
		<string>bShTa</string>
		<string>bShTta</string>
		<string>bSignAa</string>
		<string>bSignAu</string>
		<string>bSignAi.init</string>
		<string>bSignAi</string>
		<string>bSignE</string>
		<string>bSignE.init</string>
		<string>bSignI.2</string>
		<string>bSignI</string>
		<string>bSignI.narrow</string>
		<string>bSignI.wide1</string>
		<string>bSignI.wide2</string>
		<string>bSignI.wide4</string>
		<string>bSignI.wide3</string>
		<string>bSignIi.alt</string>
		<string>bSignI.wide5</string>
		<string>bSignIi</string>
		<string>bSignIiReph.alt</string>
		<string>bSignIiReph</string>
		<string>bSignO</string>
		<string>bSignU.alt</string>
		<string>bSignU.alt2</string>
		<string>bSignU</string>
		<string>bSignUu.alt</string>
		<string>bSignUu.alt2</string>
		<string>bSignUu</string>
		<string>bSignVocalicL</string>
		<string>bSignVocalicR</string>
		<string>bSignVocalicLl</string>
		<string>bSignVocalicRr</string>
		<string>bSix</string>
		<string>bSKa</string>
		<string>bSKha</string>
		<string>bSKRa</string>
		<string>bSLa</string>
		<string>bSMa</string>
		<string>bSNa</string>
		<string>bSPha</string>
		<string>bSPa</string>
		<string>bSPRa</string>
		<string>bSPLa</string>
		<string>bSRa</string>
		<string>bSRa_bSignU</string>
		<string>bSRa_bSignUu</string>
		<string>bSsa</string>
		<string>bSsBa</string>
		<string>bSsKa</string>
		<string>bSsNna</string>
		<string>bSsKRa</string>
		<string>bSsMa</string>
		<string>bSsPha</string>
		<string>bSsPa</string>
		<string>bSsPRa</string>
		<string>bSsRa</string>
		<string>bSsTta</string>
		<string>bSsTtBa</string>
		<string>bSsTtha</string>
		<string>bSsTtRa</string>
		<string>bSTa</string>
		<string>bSTa_bSignU</string>
		<string>bSTBa</string>
		<string>bSTRa</string>
		<string>bSTha</string>
		<string>bSTta</string>
		<string>bTa</string>
		<string>bSTtRa</string>
		<string>bTha</string>
		<string>bTBa</string>
		<string>bThBa</string>
		<string>bThRa</string>
		<string>bThree</string>
		<string>bThRa_bSignU</string>
		<string>bThRa_bSignUu</string>
		<string>bTLa</string>
		<string>bTMa</string>
		<string>bTNa</string>
		<string>bTRa</string>
		<string>bTta</string>
		<string>bTTa</string>
		<string>bTRa_bSignUu</string>
		<string>bTTha</string>
		<string>bTTBa</string>
		<string>bTtha</string>
		<string>bTtBa</string>
		<string>bTthRa</string>
		<string>bTRa_bSignU</string>
		<string>bTtMa</string>
		<string>bTtTta</string>
		<string>bTtRa</string>
		<string>bTtTtRa</string>
		<string>bTwo</string>
		<string>bU</string>
		<string>bUu</string>
		<string>bVaAssamese</string>
		<string>bVaAssamese_bSignUu</string>
		<string>bVaAssamese_bSignU</string>
		<string>bVirama</string>
		<string>bVisarga</string>
		<string>bVaAssameseRa</string>
		<string>bVocalicL</string>
		<string>bVocalicR</string>
		<string>bVocalicRr</string>
		<string>bVocalicLl</string>
		<string>bYa</string>
		<string>bYya</string>
		<string>bYaphala</string>
		<string>bYRa</string>
		<string>bZa</string>
		<string>bZero</string>
		<string>bYyRa</string>
		<string>Danda</string>
		<string>DoubleDanda</string>
		<string>NULL</string>
		<string>ZWJ</string>
		<string>ZWNJ</string>
	</array>
</dict>
</plist>
