<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>800</integer>
	<key>capHeight</key>
	<integer>700</integer>
	<key>copyright</key>
	<string>Copyright 2015 The Hoogli Authors</string>
	<key>descender</key>
	<integer>-200</integer>
	<key>familyName</key>
	<string>Hoogli</string>
	<key>license</key>
	<string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
	<key>licenseURL</key>
	<string>http://scripts.sil.org/OFL</string>
	<key>openTypeHeadCreated</key>
	<string>2016/03/15 05:13:38</string>
	<key>openTypeNameDesigner</key>
	<string>Anand Singh Naorem</string>
	<key>openTypeNameDesignerURL</key>
	<string>www.brandnewtype.com</string>
	<key>openTypeNameManufacturer</key>
	<string>Brand New Type</string>
	<key>openTypeNameManufacturerURL</key>
	<string>www.brandnewtype.com</string>
	<key>openTypeNamePreferredFamilyName</key>
	<string>Hoogli</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>Light</string>
	<key>openTypeOS2Type</key>
	<array>
	</array>
	<key>openTypeOS2VendorID</key>
	<string>BRNT</string>
	<key>openTypeOS2WeightClass</key>
	<integer>300</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>postscriptBlueValues</key>
	<array>
	</array>
	<key>postscriptFontName</key>
	<string>Hoogli-Light</string>
	<key>postscriptOtherBlues</key>
	<array>
	</array>
	<key>styleMapFamilyName</key>
	<string>Hoogli Light</string>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>Light</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>0</integer>
	<key>xHeight</key>
	<integer>500</integer>
</dict>
</plist>
