<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.fontMaster.userData</key>
	<dict>
		<key>GSCornerRadius</key>
		<integer>55</integer>
		<key>GSOffsetHorizontal</key>
		<integer>25</integer>
		<key>GSOffsetMakeStroke</key>
		<integer>1</integer>
		<key>GSOffsetVertical</key>
		<integer>20</integer>
	</dict>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>F2EBC5D5-DDE2-4851-B52F-F2293ECE9CC7</string>
	<key>com.schriftgestaltung.useNiceNames</key>
	<true/>
	<key>com.schriftgestaltung.weight</key>
	<string>Light</string>
	<key>com.schriftgestaltung.weightValue</key>
	<real>0.0</real>
	<key>com.typemytype.robofont.layerOrder</key>
	<array>
		<string>wire</string>
		<string>mask</string>
	</array>
	<key>com.typemytype.robofont.segmentType</key>
	<string>curve</string>
	<key>com.typemytype.robofont.sort</key>
	<array>
		<dict>
			<key>ascending</key>
			<array>
				<string>A</string>
				<string>B</string>
				<string>C</string>
				<string>D</string>
				<string>E</string>
				<string>F</string>
				<string>G</string>
				<string>H</string>
				<string>I</string>
				<string>J</string>
				<string>K</string>
				<string>L</string>
				<string>M</string>
				<string>N</string>
				<string>O</string>
				<string>P</string>
				<string>Q</string>
				<string>R</string>
				<string>S</string>
				<string>T</string>
				<string>U</string>
				<string>V</string>
				<string>W</string>
				<string>X</string>
				<string>Y</string>
				<string>Z</string>
				<string>a</string>
				<string>b</string>
				<string>c</string>
				<string>d</string>
				<string>e</string>
				<string>f</string>
				<string>g</string>
				<string>h</string>
				<string>i</string>
				<string>j</string>
				<string>k</string>
				<string>l</string>
				<string>m</string>
				<string>n</string>
				<string>o</string>
				<string>p</string>
				<string>q</string>
				<string>r</string>
				<string>s</string>
				<string>t</string>
				<string>u</string>
				<string>v</string>
				<string>w</string>
				<string>x</string>
				<string>y</string>
				<string>z</string>
				<string>colon</string>
				<string>comma</string>
				<string>ellipsis</string>
				<string>exclam</string>
				<string>period</string>
				<string>question</string>
				<string>quotedbl</string>
				<string>quotesingle</string>
				<string>semicolon</string>
				<string>bracketleft</string>
				<string>bracketright</string>
				<string>parenleft</string>
				<string>parenright</string>
				<string>hyphen</string>
				<string>quotedblleft</string>
				<string>quotedblright</string>
				<string>quoteleft</string>
				<string>quoteright</string>
				<string>space</string>
				<string>CR</string>
				<string>.notdef</string>
				<string>NULL</string>
				<string>bAa</string>
				<string>bI</string>
				<string>bIi</string>
				<string>bU</string>
				<string>bUu</string>
				<string>bVocalicR</string>
				<string>bVocalicL</string>
				<string>bE</string>
				<string>bAi</string>
				<string>bO</string>
				<string>bAu</string>
				<string>bVocalicRr</string>
				<string>bVocalicLl</string>
				<string>bKa</string>
				<string>bKha</string>
				<string>bGa</string>
				<string>bGha</string>
				<string>bNga</string>
				<string>bCa</string>
				<string>bCha</string>
				<string>bJa</string>
				<string>bJha</string>
				<string>bNya</string>
				<string>bTta</string>
				<string>bTtha</string>
				<string>bDda</string>
				<string>bDdha</string>
				<string>bNna</string>
				<string>bTa</string>
				<string>bTha</string>
				<string>bDa</string>
				<string>bDha</string>
				<string>bNa</string>
				<string>bPa</string>
				<string>bPha</string>
				<string>bBa</string>
				<string>bBha</string>
				<string>bMa</string>
				<string>bYa</string>
				<string>bRa</string>
				<string>bLa</string>
				<string>bSha</string>
				<string>bSsa</string>
				<string>bSa</string>
				<string>bHa</string>
				<string>bRra</string>
				<string>bRha</string>
				<string>bYya</string>
				<string>bRaAssamese</string>
				<string>bVaAssamese</string>
				<string>bAvagraha</string>
				<string>bKhandTa</string>
				<string>bSignAa</string>
				<string>bSignI</string>
				<string>bSignI.2</string>
				<string>bSignI.narrow</string>
				<string>bSignI.wide1</string>
				<string>bSignI.wide2</string>
				<string>bSignI.wide3</string>
				<string>bSignI.wide4</string>
				<string>bSignI.wide5</string>
				<string>bSignIi</string>
				<string>bSignIi.alt</string>
				<string>bSignU</string>
				<string>bSignU.alt</string>
				<string>bSignU.alt2</string>
				<string>bSignUu</string>
				<string>bSignUu.alt</string>
				<string>bSignUu.alt2</string>
				<string>bSignVocalicR</string>
				<string>bSignVocalicRr</string>
				<string>bSignVocalicL</string>
				<string>bSignVocalicLl</string>
				<string>bSignE</string>
				<string>bSignE.init</string>
				<string>bSignAi</string>
				<string>bSignAi.init</string>
				<string>bSignO</string>
				<string>bSignAu</string>
				<string>bAuMark</string>
				<string>bVirama</string>
				<string>bNukta</string>
				<string>bCandrabindu</string>
				<string>bAnusvara</string>
				<string>bVisarga</string>
				<string>bReph</string>
				<string>bSignIiReph</string>
				<string>bSignIiReph.alt</string>
				<string>bAuMarkReph</string>
				<string>bGa_bSignU</string>
				<string>bGRa_bSignU</string>
				<string>bGRa_bSignUu</string>
				<string>bTRa_bSignU</string>
				<string>bTRa_bSignUu</string>
				<string>bThRa_bSignU</string>
				<string>bThRa_bSignUu</string>
				<string>bDRa_bSignU</string>
				<string>bDRa_bSignUu</string>
				<string>bDhRa_bSignU</string>
				<string>bDhRa_bSignUu</string>
				<string>bNTa_bSignU</string>
				<string>bPRa_bSignU</string>
				<string>bPRa_bSignUu</string>
				<string>bBRa_bSignU</string>
				<string>bBRa_bSignUu</string>
				<string>bBhRa_bSignU</string>
				<string>bBhRa_bSignUu</string>
				<string>bRa_bSignU</string>
				<string>bRa_bSignUu</string>
				<string>bLGa_bSignU</string>
				<string>bSha_bSignU</string>
				<string>bShRa_bSignIi</string>
				<string>bShRa_bSignU</string>
				<string>bShRa_bSignUu</string>
				<string>bSTa_bSignU</string>
				<string>bSRa_bSignU</string>
				<string>bSRa_bSignUu</string>
				<string>bHa_bSignU</string>
				<string>bHa_bSignVocalicR</string>
				<string>bRaAssamese_bSignU</string>
				<string>bRaAssamese_bSignUu</string>
				<string>bVaAssamese_bSignU</string>
				<string>bVaAssamese_bSignUu</string>
				<string>bKKa</string>
				<string>bKTta</string>
				<string>bKTtRa</string>
				<string>bKTa</string>
				<string>bKTBa</string>
				<string>bKTRa</string>
				<string>bKNa</string>
				<string>bKBa</string>
				<string>bKMa</string>
				<string>bKRa</string>
				<string>bKLa</string>
				<string>bKSsa</string>
				<string>bKSsNna</string>
				<string>bKSsBa</string>
				<string>bKSsMa</string>
				<string>bKSsRa</string>
				<string>bKSa</string>
				<string>bKhBa</string>
				<string>bKhRa</string>
				<string>bGGa</string>
				<string>bGDa</string>
				<string>bGDha</string>
				<string>bGDhBa</string>
				<string>bGDhRa</string>
				<string>bGNa</string>
				<string>bGBa</string>
				<string>bGMa</string>
				<string>bGRa</string>
				<string>bGLa</string>
				<string>bGhNa</string>
				<string>bGhBa</string>
				<string>bGhRa</string>
				<string>bNgKa</string>
				<string>bNgKRa</string>
				<string>bNgKSsa</string>
				<string>bNgKSsRa</string>
				<string>bNgKha</string>
				<string>bNgGa</string>
				<string>bNgGha</string>
				<string>bNgGhRa</string>
				<string>bNgMa</string>
				<string>bNgRa</string>
				<string>bCCa</string>
				<string>bCCha</string>
				<string>bCChBa</string>
				<string>bCChRa</string>
				<string>bCNya</string>
				<string>bCNa</string>
				<string>bCBa</string>
				<string>bCRa</string>
				<string>bChBa</string>
				<string>bChRa</string>
				<string>bJJa</string>
				<string>bJJBa</string>
				<string>bJJha</string>
				<string>bJNya</string>
				<string>bJBa</string>
				<string>bJRa</string>
				<string>bJhRa</string>
				<string>bNyCa</string>
				<string>bNyCBa</string>
				<string>bNyCha</string>
				<string>bNyJa</string>
				<string>bNyJha</string>
				<string>bNyDha</string>
				<string>bNyRa</string>
				<string>bTtTta</string>
				<string>bTtTtRa</string>
				<string>bTtBa</string>
				<string>bTtMa</string>
				<string>bTtRa</string>
				<string>bTthRa</string>
				<string>bDdGa</string>
				<string>bDdDda</string>
				<string>bDdBa</string>
				<string>bDdMa</string>
				<string>bDdRa</string>
				<string>bDdhRa</string>
				<string>bNnTta</string>
				<string>bNnTtRa</string>
				<string>bNnTtha</string>
				<string>bNnTthRa</string>
				<string>bNnDda</string>
				<string>bNnDdRa</string>
				<string>bNnDdha</string>
				<string>bNnDdhRa</string>
				<string>bNnNna</string>
				<string>bNnBa</string>
				<string>bNnMa</string>
				<string>bNnRa</string>
				<string>bTTa</string>
				<string>bTTBa</string>
				<string>bTTha</string>
				<string>bTNa</string>
				<string>bTBa</string>
				<string>bTMa</string>
				<string>bTRa</string>
				<string>bTLa</string>
				<string>bThBa</string>
				<string>bThRa</string>
				<string>bDGa</string>
				<string>bDGha</string>
				<string>bDDa</string>
				<string>bDDBa</string>
				<string>bDDRa</string>
				<string>bDDha</string>
				<string>bDDhBa</string>
				<string>bDNa</string>
				<string>bDBa</string>
				<string>bDBha</string>
				<string>bDBhRa</string>
				<string>bDMa</string>
				<string>bDRa</string>
				<string>bDhNa</string>
				<string>bDhBa</string>
				<string>bDhMa</string>
				<string>bDhRa</string>
				<string>bNKTa</string>
				<string>bNTta</string>
				<string>bNTtRa</string>
				<string>bNTtha</string>
				<string>bNDda</string>
				<string>bNDdRa</string>
				<string>bNTa</string>
				<string>bNTBa</string>
				<string>bNTRa</string>
				<string>bNTha</string>
				<string>bNThRa</string>
				<string>bNDa</string>
				<string>bNDBa</string>
				<string>bNDRa</string>
				<string>bNDha</string>
				<string>bNDhBa</string>
				<string>bNDhRa</string>
				<string>bNNa</string>
				<string>bNBa</string>
				<string>bNMa</string>
				<string>bNRa</string>
				<string>bNSa</string>
				<string>bPTta</string>
				<string>bPTa</string>
				<string>bPTTa</string>
				<string>bPTRa</string>
				<string>bPNa</string>
				<string>bPPa</string>
				<string>bPMa</string>
				<string>bPRa</string>
				<string>bPLa</string>
				<string>bPSa</string>
				<string>bPhTta</string>
				<string>bPhRa</string>
				<string>bPhLa</string>
				<string>bBJa</string>
				<string>bBJha</string>
				<string>bBDda</string>
				<string>bBDdha</string>
				<string>bBDa</string>
				<string>bBDRa</string>
				<string>bBDha</string>
				<string>bBBa</string>
				<string>bBBha</string>
				<string>bBRa</string>
				<string>bBLa</string>
				<string>bBhRa</string>
				<string>bBhLa</string>
				<string>bMTa</string>
				<string>bMDa</string>
				<string>bMNa</string>
				<string>bMPa</string>
				<string>bMPRa</string>
				<string>bMPha</string>
				<string>bMPhRa</string>
				<string>bMBa</string>
				<string>bMBha</string>
				<string>bMBhRa</string>
				<string>bMMa</string>
				<string>bMRa</string>
				<string>bMLa</string>
				<string>bYRa</string>
				<string>bLKa</string>
				<string>bLGa</string>
				<string>bLGha</string>
				<string>bLTta</string>
				<string>bLTtRa</string>
				<string>bLDda</string>
				<string>bLDdRa</string>
				<string>bLDdha</string>
				<string>bLDa</string>
				<string>bLPa</string>
				<string>bLPha</string>
				<string>bLBa</string>
				<string>bLMa</string>
				<string>bLRa</string>
				<string>bLLa</string>
				<string>bLSa</string>
				<string>bShCa</string>
				<string>bShCha</string>
				<string>bShTta</string>
				<string>bShTa</string>
				<string>bShNa</string>
				<string>bShBa</string>
				<string>bShMa</string>
				<string>bShRa</string>
				<string>bShLa</string>
				<string>bSsKa</string>
				<string>bSsKRa</string>
				<string>bSsTta</string>
				<string>bSsTtBa</string>
				<string>bSsTtRa</string>
				<string>bSsTtha</string>
				<string>bSsNna</string>
				<string>bSsPa</string>
				<string>bSsPRa</string>
				<string>bSsPha</string>
				<string>bSsBa</string>
				<string>bSsMa</string>
				<string>bSsRa</string>
				<string>bSKa</string>
				<string>bSKRa</string>
				<string>bSKha</string>
				<string>bSTta</string>
				<string>bSTtRa</string>
				<string>bSTa</string>
				<string>bSTBa</string>
				<string>bSTha</string>
				<string>bSTRa</string>
				<string>bSNa</string>
				<string>bSPa</string>
				<string>bSPRa</string>
				<string>bSPLa</string>
				<string>bSPha</string>
				<string>bSBa</string>
				<string>bSMa</string>
				<string>bSRa</string>
				<string>bSLa</string>
				<string>bHNna</string>
				<string>bHNa</string>
				<string>bHBa</string>
				<string>bHMa</string>
				<string>bHRa</string>
				<string>bHLa</string>
				<string>bRrGa</string>
				<string>bYaphala</string>
				<string>bBaphala</string>
				<string>bRaphala</string>
				<string>bZa</string>
				<string>bBhBa</string>
				<string>bNgKRa.alt</string>
				<string>bRrRa</string>
				<string>bRhRa</string>
				<string>bYyRa</string>
				<string>bVaAssameseRa</string>
				<string>bZero</string>
				<string>bOne</string>
				<string>bTwo</string>
				<string>bThree</string>
				<string>bFour</string>
				<string>bFive</string>
				<string>bSix</string>
				<string>bSeven</string>
				<string>bEight</string>
				<string>bNine</string>
				<string>Danda</string>
				<string>DoubleDanda</string>
				<string>bDandaPoetic</string>
				<string>bDoubleDandaPoetic</string>
				<string>bIsshar</string>
				<string>bRupeesign</string>
				<string>ZWNJ</string>
				<string>ZWJ</string>
				<string>BASE</string>
				<string>bA</string>
			</array>
			<key>type</key>
			<string>glyphList</string>
		</dict>
	</array>
	<key>public.glyphOrder</key>
	<array>
		<string>colon</string>
		<string>comma</string>
		<string>ellipsis</string>
		<string>exclam</string>
		<string>period</string>
		<string>question</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>semicolon</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>hyphen</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>space</string>
		<string>CR</string>
		<string>.notdef</string>
		<string>NULL</string>
		<string>bAa</string>
		<string>bI</string>
		<string>bIi</string>
		<string>bU</string>
		<string>bUu</string>
		<string>bVocalicR</string>
		<string>bVocalicL</string>
		<string>bE</string>
		<string>bAi</string>
		<string>bO</string>
		<string>bAu</string>
		<string>bVocalicRr</string>
		<string>bVocalicLl</string>
		<string>bKa</string>
		<string>bKha</string>
		<string>bGa</string>
		<string>bGha</string>
		<string>bNga</string>
		<string>bCa</string>
		<string>bCha</string>
		<string>bJa</string>
		<string>bJha</string>
		<string>bNya</string>
		<string>bTta</string>
		<string>bTtha</string>
		<string>bDda</string>
		<string>bDdha</string>
		<string>bNna</string>
		<string>bTa</string>
		<string>bTha</string>
		<string>bDa</string>
		<string>bDha</string>
		<string>bNa</string>
		<string>bPa</string>
		<string>bPha</string>
		<string>bBa</string>
		<string>bBha</string>
		<string>bMa</string>
		<string>bYa</string>
		<string>bRa</string>
		<string>bLa</string>
		<string>bSha</string>
		<string>bSsa</string>
		<string>bSa</string>
		<string>bHa</string>
		<string>bRra</string>
		<string>bRha</string>
		<string>bYya</string>
		<string>bRaAssamese</string>
		<string>bVaAssamese</string>
		<string>bAvagraha</string>
		<string>bKhandTa</string>
		<string>bSignAa</string>
		<string>bSignI</string>
		<string>bSignI.2</string>
		<string>bSignI.narrow</string>
		<string>bSignI.wide1</string>
		<string>bSignI.wide2</string>
		<string>bSignI.wide3</string>
		<string>bSignI.wide4</string>
		<string>bSignI.wide5</string>
		<string>bSignIi</string>
		<string>bSignIi.alt</string>
		<string>bSignU</string>
		<string>bSignU.alt</string>
		<string>bSignU.alt2</string>
		<string>bSignUu</string>
		<string>bSignUu.alt</string>
		<string>bSignUu.alt2</string>
		<string>bSignVocalicR</string>
		<string>bSignVocalicRr</string>
		<string>bSignVocalicL</string>
		<string>bSignVocalicLl</string>
		<string>bSignE</string>
		<string>bSignE.init</string>
		<string>bSignAi</string>
		<string>bSignAi.init</string>
		<string>bSignO</string>
		<string>bSignAu</string>
		<string>bAuMark</string>
		<string>bVirama</string>
		<string>bNukta</string>
		<string>bCandrabindu</string>
		<string>bAnusvara</string>
		<string>bVisarga</string>
		<string>bReph</string>
		<string>bSignIiReph</string>
		<string>bSignIiReph.alt</string>
		<string>bAuMarkReph</string>
		<string>bGa_bSignU</string>
		<string>bGRa_bSignU</string>
		<string>bGRa_bSignUu</string>
		<string>bTRa_bSignU</string>
		<string>bTRa_bSignUu</string>
		<string>bThRa_bSignU</string>
		<string>bThRa_bSignUu</string>
		<string>bDRa_bSignU</string>
		<string>bDRa_bSignUu</string>
		<string>bDhRa_bSignU</string>
		<string>bDhRa_bSignUu</string>
		<string>bNTa_bSignU</string>
		<string>bPRa_bSignU</string>
		<string>bPRa_bSignUu</string>
		<string>bBRa_bSignU</string>
		<string>bBRa_bSignUu</string>
		<string>bBhRa_bSignU</string>
		<string>bBhRa_bSignUu</string>
		<string>bRa_bSignU</string>
		<string>bRa_bSignUu</string>
		<string>bLGa_bSignU</string>
		<string>bSha_bSignU</string>
		<string>bShRa_bSignIi</string>
		<string>bShRa_bSignU</string>
		<string>bShRa_bSignUu</string>
		<string>bSTa_bSignU</string>
		<string>bSRa_bSignU</string>
		<string>bSRa_bSignUu</string>
		<string>bHa_bSignU</string>
		<string>bHa_bSignVocalicR</string>
		<string>bRaAssamese_bSignU</string>
		<string>bRaAssamese_bSignUu</string>
		<string>bVaAssamese_bSignU</string>
		<string>bVaAssamese_bSignUu</string>
		<string>bKKa</string>
		<string>bKTta</string>
		<string>bKTtRa</string>
		<string>bKTa</string>
		<string>bKTBa</string>
		<string>bKTRa</string>
		<string>bKNa</string>
		<string>bKBa</string>
		<string>bKMa</string>
		<string>bKRa</string>
		<string>bKLa</string>
		<string>bKSsa</string>
		<string>bKSsNna</string>
		<string>bKSsBa</string>
		<string>bKSsMa</string>
		<string>bKSsRa</string>
		<string>bKSa</string>
		<string>bKhBa</string>
		<string>bKhRa</string>
		<string>bGGa</string>
		<string>bGDa</string>
		<string>bGDha</string>
		<string>bGDhBa</string>
		<string>bGDhRa</string>
		<string>bGNa</string>
		<string>bGBa</string>
		<string>bGMa</string>
		<string>bGRa</string>
		<string>bGLa</string>
		<string>bGhNa</string>
		<string>bGhBa</string>
		<string>bGhRa</string>
		<string>bNgKa</string>
		<string>bNgKRa</string>
		<string>bNgKSsa</string>
		<string>bNgKSsRa</string>
		<string>bNgKha</string>
		<string>bNgGa</string>
		<string>bNgGha</string>
		<string>bNgGhRa</string>
		<string>bNgMa</string>
		<string>bNgRa</string>
		<string>bCCa</string>
		<string>bCCha</string>
		<string>bCChBa</string>
		<string>bCChRa</string>
		<string>bCNya</string>
		<string>bCNa</string>
		<string>bCBa</string>
		<string>bCRa</string>
		<string>bChBa</string>
		<string>bChRa</string>
		<string>bJJa</string>
		<string>bJJBa</string>
		<string>bJJha</string>
		<string>bJNya</string>
		<string>bJBa</string>
		<string>bJRa</string>
		<string>bJhRa</string>
		<string>bNyCa</string>
		<string>bNyCBa</string>
		<string>bNyCha</string>
		<string>bNyJa</string>
		<string>bNyJha</string>
		<string>bNyDha</string>
		<string>bNyRa</string>
		<string>bTtTta</string>
		<string>bTtTtRa</string>
		<string>bTtBa</string>
		<string>bTtMa</string>
		<string>bTtRa</string>
		<string>bTthRa</string>
		<string>bDdGa</string>
		<string>bDdDda</string>
		<string>bDdBa</string>
		<string>bDdMa</string>
		<string>bDdRa</string>
		<string>bDdhRa</string>
		<string>bNnTta</string>
		<string>bNnTtRa</string>
		<string>bNnTtha</string>
		<string>bNnTthRa</string>
		<string>bNnDda</string>
		<string>bNnDdRa</string>
		<string>bNnDdha</string>
		<string>bNnDdhRa</string>
		<string>bNnNna</string>
		<string>bNnBa</string>
		<string>bNnMa</string>
		<string>bNnRa</string>
		<string>bTTa</string>
		<string>bTTBa</string>
		<string>bTTha</string>
		<string>bTNa</string>
		<string>bTBa</string>
		<string>bTMa</string>
		<string>bTRa</string>
		<string>bTLa</string>
		<string>bThBa</string>
		<string>bThRa</string>
		<string>bDGa</string>
		<string>bDGha</string>
		<string>bDDa</string>
		<string>bDDBa</string>
		<string>bDDRa</string>
		<string>bDDha</string>
		<string>bDDhBa</string>
		<string>bDNa</string>
		<string>bDBa</string>
		<string>bDBha</string>
		<string>bDBhRa</string>
		<string>bDMa</string>
		<string>bDRa</string>
		<string>bDhNa</string>
		<string>bDhBa</string>
		<string>bDhMa</string>
		<string>bDhRa</string>
		<string>bNKTa</string>
		<string>bNTta</string>
		<string>bNTtRa</string>
		<string>bNTtha</string>
		<string>bNDda</string>
		<string>bNDdRa</string>
		<string>bNTa</string>
		<string>bNTBa</string>
		<string>bNTRa</string>
		<string>bNTha</string>
		<string>bNThRa</string>
		<string>bNDa</string>
		<string>bNDBa</string>
		<string>bNDRa</string>
		<string>bNDha</string>
		<string>bNDhBa</string>
		<string>bNDhRa</string>
		<string>bNNa</string>
		<string>bNBa</string>
		<string>bNMa</string>
		<string>bNRa</string>
		<string>bNSa</string>
		<string>bPTta</string>
		<string>bPTa</string>
		<string>bPTTa</string>
		<string>bPTRa</string>
		<string>bPNa</string>
		<string>bPPa</string>
		<string>bPMa</string>
		<string>bPRa</string>
		<string>bPLa</string>
		<string>bPSa</string>
		<string>bPhTta</string>
		<string>bPhRa</string>
		<string>bPhLa</string>
		<string>bBJa</string>
		<string>bBJha</string>
		<string>bBDda</string>
		<string>bBDdha</string>
		<string>bBDa</string>
		<string>bBDRa</string>
		<string>bBDha</string>
		<string>bBBa</string>
		<string>bBBha</string>
		<string>bBRa</string>
		<string>bBLa</string>
		<string>bBhRa</string>
		<string>bBhLa</string>
		<string>bMTa</string>
		<string>bMDa</string>
		<string>bMNa</string>
		<string>bMPa</string>
		<string>bMPRa</string>
		<string>bMPha</string>
		<string>bMPhRa</string>
		<string>bMBa</string>
		<string>bMBha</string>
		<string>bMBhRa</string>
		<string>bMMa</string>
		<string>bMRa</string>
		<string>bMLa</string>
		<string>bYRa</string>
		<string>bLKa</string>
		<string>bLGa</string>
		<string>bLGha</string>
		<string>bLTta</string>
		<string>bLTtRa</string>
		<string>bLDda</string>
		<string>bLDdRa</string>
		<string>bLDdha</string>
		<string>bLDa</string>
		<string>bLPa</string>
		<string>bLPha</string>
		<string>bLBa</string>
		<string>bLMa</string>
		<string>bLRa</string>
		<string>bLLa</string>
		<string>bLSa</string>
		<string>bShCa</string>
		<string>bShCha</string>
		<string>bShTta</string>
		<string>bShTa</string>
		<string>bShNa</string>
		<string>bShBa</string>
		<string>bShMa</string>
		<string>bShRa</string>
		<string>bShLa</string>
		<string>bSsKa</string>
		<string>bSsKRa</string>
		<string>bSsTta</string>
		<string>bSsTtBa</string>
		<string>bSsTtRa</string>
		<string>bSsTtha</string>
		<string>bSsNna</string>
		<string>bSsPa</string>
		<string>bSsPRa</string>
		<string>bSsPha</string>
		<string>bSsBa</string>
		<string>bSsMa</string>
		<string>bSsRa</string>
		<string>bSKa</string>
		<string>bSKRa</string>
		<string>bSKha</string>
		<string>bSTta</string>
		<string>bSTtRa</string>
		<string>bSTa</string>
		<string>bSTBa</string>
		<string>bSTha</string>
		<string>bSTRa</string>
		<string>bSNa</string>
		<string>bSPa</string>
		<string>bSPRa</string>
		<string>bSPLa</string>
		<string>bSPha</string>
		<string>bSBa</string>
		<string>bSMa</string>
		<string>bSRa</string>
		<string>bSLa</string>
		<string>bHNna</string>
		<string>bHNa</string>
		<string>bHBa</string>
		<string>bHMa</string>
		<string>bHRa</string>
		<string>bHLa</string>
		<string>bRrGa</string>
		<string>bYaphala</string>
		<string>bBaphala</string>
		<string>bRaphala</string>
		<string>bZa</string>
		<string>bBhBa</string>
		<string>bNgKRa.alt</string>
		<string>bRrRa</string>
		<string>bRhRa</string>
		<string>bYyRa</string>
		<string>bVaAssameseRa</string>
		<string>bZero</string>
		<string>bOne</string>
		<string>bTwo</string>
		<string>bThree</string>
		<string>bFour</string>
		<string>bFive</string>
		<string>bSix</string>
		<string>bSeven</string>
		<string>bEight</string>
		<string>bNine</string>
		<string>Danda</string>
		<string>DoubleDanda</string>
		<string>bDandaPoetic</string>
		<string>bDoubleDandaPoetic</string>
		<string>bIsshar</string>
		<string>bRupeesign</string>
		<string>ZWNJ</string>
		<string>ZWJ</string>
		<string>BASE</string>
		<string>bA</string>
	</array>
</dict>
</plist>
