<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>.notdef</key>
  <string>__notdef.glif</string>
  <key>NULL</key>
  <string>NULL____.glif</string>
  <key>CR</key>
  <string>CR__.glif</string>
  <key>space</key>
  <string>space.glif</string>
  <key>bA</key>
  <string>bA_.glif</string>
  <key>bAa</key>
  <string>bAa_.glif</string>
  <key>bI</key>
  <string>bI_.glif</string>
  <key>bIi</key>
  <string>bIi_.glif</string>
  <key>bU</key>
  <string>bU_.glif</string>
  <key>bUu</key>
  <string>bUu_.glif</string>
  <key>bVocalicR</key>
  <string>bVocalicR__.glif</string>
  <key>bVocalicL</key>
  <string>bVocalicL__.glif</string>
  <key>bE</key>
  <string>bE_.glif</string>
  <key>bAi</key>
  <string>bAi_.glif</string>
  <key>bO</key>
  <string>bO_.glif</string>
  <key>bAu</key>
  <string>bAu_.glif</string>
  <key>bVocalicRr</key>
  <string>bVocalicRr__.glif</string>
  <key>bVocalicLl</key>
  <string>bVocalicLl__.glif</string>
  <key>bKa</key>
  <string>bKa_.glif</string>
  <key>bKha</key>
  <string>bKha_.glif</string>
  <key>bGa</key>
  <string>bGa_.glif</string>
  <key>bGha</key>
  <string>bGha_.glif</string>
  <key>bNga</key>
  <string>bNga_.glif</string>
  <key>bCa</key>
  <string>bCa_.glif</string>
  <key>bCha</key>
  <string>bCha_.glif</string>
  <key>bJa</key>
  <string>bJa_.glif</string>
  <key>bJha</key>
  <string>bJha_.glif</string>
  <key>bNya</key>
  <string>bNya_.glif</string>
  <key>bTta</key>
  <string>bTta_.glif</string>
  <key>bTtha</key>
  <string>bTtha_.glif</string>
  <key>bDda</key>
  <string>bDda_.glif</string>
  <key>bDdha</key>
  <string>bDdha_.glif</string>
  <key>bNna</key>
  <string>bNna_.glif</string>
  <key>bTa</key>
  <string>bTa_.glif</string>
  <key>bTha</key>
  <string>bTha_.glif</string>
  <key>bDa</key>
  <string>bDa_.glif</string>
  <key>bDha</key>
  <string>bDha_.glif</string>
  <key>bNa</key>
  <string>bNa_.glif</string>
  <key>bPa</key>
  <string>bPa_.glif</string>
  <key>bPha</key>
  <string>bPha_.glif</string>
  <key>bBa</key>
  <string>bBa_.glif</string>
  <key>bBha</key>
  <string>bBha_.glif</string>
  <key>bMa</key>
  <string>bMa_.glif</string>
  <key>bYa</key>
  <string>bYa_.glif</string>
  <key>bRa</key>
  <string>bRa_.glif</string>
  <key>bLa</key>
  <string>bLa_.glif</string>
  <key>bSha</key>
  <string>bSha_.glif</string>
  <key>bSsa</key>
  <string>bSsa_.glif</string>
  <key>bSa</key>
  <string>bSa_.glif</string>
  <key>bHa</key>
  <string>bHa_.glif</string>
  <key>bRra</key>
  <string>bRra_.glif</string>
  <key>bRha</key>
  <string>bRha_.glif</string>
  <key>bYya</key>
  <string>bYya_.glif</string>
  <key>bRaAssamese</key>
  <string>bRaAssamese__.glif</string>
  <key>bVaAssamese</key>
  <string>bVaAssamese__.glif</string>
  <key>bAvagraha</key>
  <string>bAvagraha_.glif</string>
  <key>bKhandTa</key>
  <string>bKhandTa__.glif</string>
  <key>bSignAa</key>
  <string>bSignAa__.glif</string>
  <key>bSignI</key>
  <string>bSignI__.glif</string>
  <key>bSignI.2</key>
  <string>bSignI__.2.glif</string>
  <key>bSignI.narrow</key>
  <string>bSignI__.narrow.glif</string>
  <key>bSignI.wide1</key>
  <string>bSignI__.wide1.glif</string>
  <key>bSignI.wide2</key>
  <string>bSignI__.wide2.glif</string>
  <key>bSignI.wide3</key>
  <string>bSignI__.wide3.glif</string>
  <key>bSignI.wide4</key>
  <string>bSignI__.wide4.glif</string>
  <key>bSignI.wide5</key>
  <string>bSignI__.wide5.glif</string>
  <key>bSignIi</key>
  <string>bSignIi__.glif</string>
  <key>bSignIi.alt</key>
  <string>bSignIi__.alt.glif</string>
  <key>bSignU</key>
  <string>bSignU__.glif</string>
  <key>bSignU.alt</key>
  <string>bSignU__.alt.glif</string>
  <key>bSignU.alt2</key>
  <string>bSignU__.alt2.glif</string>
  <key>bSignUu</key>
  <string>bSignUu__.glif</string>
  <key>bSignUu.alt</key>
  <string>bSignUu__.alt.glif</string>
  <key>bSignUu.alt2</key>
  <string>bSignUu__.alt2.glif</string>
  <key>bSignVocalicR</key>
  <string>bSignVocalicR___.glif</string>
  <key>bSignVocalicRr</key>
  <string>bSignVocalicRr___.glif</string>
  <key>bSignVocalicL</key>
  <string>bSignVocalicL___.glif</string>
  <key>bSignVocalicLl</key>
  <string>bSignVocalicLl___.glif</string>
  <key>bSignE</key>
  <string>bSignE__.glif</string>
  <key>bSignE.init</key>
  <string>bSignE__.init.glif</string>
  <key>bSignAi</key>
  <string>bSignAi__.glif</string>
  <key>bSignAi.init</key>
  <string>bSignAi__.init.glif</string>
  <key>bSignO</key>
  <string>bSignO__.glif</string>
  <key>bSignAu</key>
  <string>bSignAu__.glif</string>
  <key>bAuMark</key>
  <string>bAuMark__.glif</string>
  <key>bVirama</key>
  <string>bVirama_.glif</string>
  <key>bNukta</key>
  <string>bNukta_.glif</string>
  <key>bCandrabindu</key>
  <string>bCandrabindu_.glif</string>
  <key>bAnusvara</key>
  <string>bAnusvara_.glif</string>
  <key>bVisarga</key>
  <string>bVisarga_.glif</string>
  <key>bReph</key>
  <string>bReph_.glif</string>
  <key>bSignIiReph</key>
  <string>bSignIiReph___.glif</string>
  <key>bSignIiReph.alt</key>
  <string>bSignIiReph___.alt.glif</string>
  <key>bAuMarkReph</key>
  <string>bAuMarkReph___.glif</string>
  <key>bGa_bSignU</key>
  <string>bGa__bSignU__.glif</string>
  <key>bGRa_bSignU</key>
  <string>bGRa___bSignU__.glif</string>
  <key>bGRa_bSignUu</key>
  <string>bGRa___bSignUu__.glif</string>
  <key>bTRa_bSignU</key>
  <string>bTRa___bSignU__.glif</string>
  <key>bTRa_bSignUu</key>
  <string>bTRa___bSignUu__.glif</string>
  <key>bThRa_bSignU</key>
  <string>bThRa___bSignU__.glif</string>
  <key>bThRa_bSignUu</key>
  <string>bThRa___bSignUu__.glif</string>
  <key>bDRa_bSignU</key>
  <string>bDRa___bSignU__.glif</string>
  <key>bDRa_bSignUu</key>
  <string>bDRa___bSignUu__.glif</string>
  <key>bDhRa_bSignU</key>
  <string>bDhRa___bSignU__.glif</string>
  <key>bDhRa_bSignUu</key>
  <string>bDhRa___bSignUu__.glif</string>
  <key>bNTa_bSignU</key>
  <string>bNTa___bSignU__.glif</string>
  <key>bPTa_bSignU</key>
  <string>bPTa___bSignU__.glif</string>
  <key>bPRa_bSignU</key>
  <string>bPRa___bSignU__.glif</string>
  <key>bPRa_bSignUu</key>
  <string>bPRa___bSignUu__.glif</string>
  <key>bBRa_bSignU</key>
  <string>bBRa___bSignU__.glif</string>
  <key>bBRa_bSignUu</key>
  <string>bBRa___bSignUu__.glif</string>
  <key>bBhRa_bSignU</key>
  <string>bBhRa___bSignU__.glif</string>
  <key>bBhRa_bSignUu</key>
  <string>bBhRa___bSignUu__.glif</string>
  <key>bRa_bSignU</key>
  <string>bRa__bSignU__.glif</string>
  <key>bRa_bSignUu</key>
  <string>bRa__bSignUu__.glif</string>
  <key>bLGa_bSignU</key>
  <string>bLGa___bSignU__.glif</string>
  <key>bSha_bSignU</key>
  <string>bSha__bSignU__.glif</string>
  <key>bShRa_bSignIi</key>
  <string>bShRa___bSignIi__.glif</string>
  <key>bShRa_bSignU</key>
  <string>bShRa___bSignU__.glif</string>
  <key>bShRa_bSignUu</key>
  <string>bShRa___bSignUu__.glif</string>
  <key>bSTa_bSignU</key>
  <string>bSTa___bSignU__.glif</string>
  <key>bSRa_bSignU</key>
  <string>bSRa___bSignU__.glif</string>
  <key>bSRa_bSignUu</key>
  <string>bSRa___bSignUu__.glif</string>
  <key>bHa_bSignU</key>
  <string>bHa__bSignU__.glif</string>
  <key>bHa_bSignVocalicR</key>
  <string>bHa__bSignVocalicR___.glif</string>
  <key>bRaAssamese_bSignU</key>
  <string>bRaAssamese___bSignU__.glif</string>
  <key>bRaAssamese_bSignUu</key>
  <string>bRaAssamese___bSignUu__.glif</string>
  <key>bVaAssamese_bSignU</key>
  <string>bVaAssamese___bSignU__.glif</string>
  <key>bVaAssamese_bSignUu</key>
  <string>bVaAssamese___bSignUu__.glif</string>
  <key>bKKa</key>
  <string>bKKa__.glif</string>
  <key>bKTta</key>
  <string>bKTta__.glif</string>
  <key>bKTtRa</key>
  <string>bKTtRa___.glif</string>
  <key>bKTa</key>
  <string>bKTa__.glif</string>
  <key>bKTBa</key>
  <string>bKTBa___.glif</string>
  <key>bKTRa</key>
  <string>bKTRa___.glif</string>
  <key>bKNa</key>
  <string>bKNa__.glif</string>
  <key>bKBa</key>
  <string>bKBa__.glif</string>
  <key>bKMa</key>
  <string>bKMa__.glif</string>
  <key>bKRa</key>
  <string>bKRa__.glif</string>
  <key>bKLa</key>
  <string>bKLa__.glif</string>
  <key>bKSsa</key>
  <string>bKSsa__.glif</string>
  <key>bKSsNna</key>
  <string>bKSsNna___.glif</string>
  <key>bKSsBa</key>
  <string>bKSsBa___.glif</string>
  <key>bKSsMa</key>
  <string>bKSsMa___.glif</string>
  <key>bKSsRa</key>
  <string>bKSsRa___.glif</string>
  <key>bKSa</key>
  <string>bKSa__.glif</string>
  <key>bKhBa</key>
  <string>bKhBa__.glif</string>
  <key>bKhRa</key>
  <string>bKhRa__.glif</string>
  <key>bGGa</key>
  <string>bGGa__.glif</string>
  <key>bGDa</key>
  <string>bGDa__.glif</string>
  <key>bGDha</key>
  <string>bGDha__.glif</string>
  <key>bGDhBa</key>
  <string>bGDhBa___.glif</string>
  <key>bGDhRa</key>
  <string>bGDhRa___.glif</string>
  <key>bGNa</key>
  <string>bGNa__.glif</string>
  <key>bGBa</key>
  <string>bGBa__.glif</string>
  <key>bGMa</key>
  <string>bGMa__.glif</string>
  <key>bGRa</key>
  <string>bGRa__.glif</string>
  <key>bGLa</key>
  <string>bGLa__.glif</string>
  <key>bGhNa</key>
  <string>bGhNa__.glif</string>
  <key>bGhBa</key>
  <string>bGhBa__.glif</string>
  <key>bGhRa</key>
  <string>bGhRa__.glif</string>
  <key>bNgKa</key>
  <string>bNgKa__.glif</string>
  <key>bNgKRa</key>
  <string>bNgKRa___.glif</string>
  <key>bNgKRa.alt</key>
  <string>bNgKRa___.alt.glif</string>
  <key>bNgKSsa</key>
  <string>bNgKSsa___.glif</string>
  <key>bNgKSsRa</key>
  <string>bNgKSsRa____.glif</string>
  <key>bNgKha</key>
  <string>bNgKha__.glif</string>
  <key>bNgGa</key>
  <string>bNgGa__.glif</string>
  <key>bNgGha</key>
  <string>bNgGha__.glif</string>
  <key>bNgGhRa</key>
  <string>bNgGhRa___.glif</string>
  <key>bNgMa</key>
  <string>bNgMa__.glif</string>
  <key>bNgRa</key>
  <string>bNgRa__.glif</string>
  <key>bCCa</key>
  <string>bCCa__.glif</string>
  <key>bCCha</key>
  <string>bCCha__.glif</string>
  <key>bCChBa</key>
  <string>bCChBa___.glif</string>
  <key>bCChRa</key>
  <string>bCChRa___.glif</string>
  <key>bCNya</key>
  <string>bCNya__.glif</string>
  <key>bCNa</key>
  <string>bCNa__.glif</string>
  <key>bCBa</key>
  <string>bCBa__.glif</string>
  <key>bCRa</key>
  <string>bCRa__.glif</string>
  <key>bChBa</key>
  <string>bChBa__.glif</string>
  <key>bChRa</key>
  <string>bChRa__.glif</string>
  <key>bJJa</key>
  <string>bJJa__.glif</string>
  <key>bJJBa</key>
  <string>bJJBa___.glif</string>
  <key>bJJha</key>
  <string>bJJha__.glif</string>
  <key>bJNya</key>
  <string>bJNya__.glif</string>
  <key>bJBa</key>
  <string>bJBa__.glif</string>
  <key>bJRa</key>
  <string>bJRa__.glif</string>
  <key>bJhRa</key>
  <string>bJhRa__.glif</string>
  <key>bNyCa</key>
  <string>bNyCa__.glif</string>
  <key>bNyCBa</key>
  <string>bNyCBa___.glif</string>
  <key>bNyCha</key>
  <string>bNyCha__.glif</string>
  <key>bNyJa</key>
  <string>bNyJa__.glif</string>
  <key>bNyJha</key>
  <string>bNyJha__.glif</string>
  <key>bNyDha</key>
  <string>bNyDha__.glif</string>
  <key>bNyRa</key>
  <string>bNyRa__.glif</string>
  <key>bTtTta</key>
  <string>bTtTta__.glif</string>
  <key>bTtTtRa</key>
  <string>bTtTtRa___.glif</string>
  <key>bTtBa</key>
  <string>bTtBa__.glif</string>
  <key>bTtMa</key>
  <string>bTtMa__.glif</string>
  <key>bTtRa</key>
  <string>bTtRa__.glif</string>
  <key>bTthRa</key>
  <string>bTthRa__.glif</string>
  <key>bDdGa</key>
  <string>bDdGa__.glif</string>
  <key>bDdDda</key>
  <string>bDdDda__.glif</string>
  <key>bDdBa</key>
  <string>bDdBa__.glif</string>
  <key>bDdMa</key>
  <string>bDdMa__.glif</string>
  <key>bDdRa</key>
  <string>bDdRa__.glif</string>
  <key>bDdhRa</key>
  <string>bDdhRa__.glif</string>
  <key>bNnTta</key>
  <string>bNnTta__.glif</string>
  <key>bNnTtRa</key>
  <string>bNnTtRa___.glif</string>
  <key>bNnTtha</key>
  <string>bNnTtha__.glif</string>
  <key>bNnTthRa</key>
  <string>bNnTthRa___.glif</string>
  <key>bNnDda</key>
  <string>bNnDda__.glif</string>
  <key>bNnDdRa</key>
  <string>bNnDdRa___.glif</string>
  <key>bNnDdha</key>
  <string>bNnDdha__.glif</string>
  <key>bNnDdhRa</key>
  <string>bNnDdhRa___.glif</string>
  <key>bNnNna</key>
  <string>bNnNna__.glif</string>
  <key>bNnBa</key>
  <string>bNnBa__.glif</string>
  <key>bNnMa</key>
  <string>bNnMa__.glif</string>
  <key>bNnRa</key>
  <string>bNnRa__.glif</string>
  <key>bTTa</key>
  <string>bTTa__.glif</string>
  <key>bTTBa</key>
  <string>bTTBa___.glif</string>
  <key>bTTha</key>
  <string>bTTha__.glif</string>
  <key>bTNa</key>
  <string>bTNa__.glif</string>
  <key>bTBa</key>
  <string>bTBa__.glif</string>
  <key>bTMa</key>
  <string>bTMa__.glif</string>
  <key>bTRa</key>
  <string>bTRa__.glif</string>
  <key>bTLa</key>
  <string>bTLa__.glif</string>
  <key>bThBa</key>
  <string>bThBa__.glif</string>
  <key>bThRa</key>
  <string>bThRa__.glif</string>
  <key>bDGa</key>
  <string>bDGa__.glif</string>
  <key>bDGha</key>
  <string>bDGha__.glif</string>
  <key>bDDa</key>
  <string>bDDa__.glif</string>
  <key>bDDBa</key>
  <string>bDDBa___.glif</string>
  <key>bDDRa</key>
  <string>bDDRa___.glif</string>
  <key>bDDha</key>
  <string>bDDha__.glif</string>
  <key>bDDhBa</key>
  <string>bDDhBa___.glif</string>
  <key>bDNa</key>
  <string>bDNa__.glif</string>
  <key>bDBa</key>
  <string>bDBa__.glif</string>
  <key>bDBha</key>
  <string>bDBha__.glif</string>
  <key>bDBhRa</key>
  <string>bDBhRa___.glif</string>
  <key>bDMa</key>
  <string>bDMa__.glif</string>
  <key>bDRa</key>
  <string>bDRa__.glif</string>
  <key>bDhNa</key>
  <string>bDhNa__.glif</string>
  <key>bDhBa</key>
  <string>bDhBa__.glif</string>
  <key>bDhMa</key>
  <string>bDhMa__.glif</string>
  <key>bDhRa</key>
  <string>bDhRa__.glif</string>
  <key>bNKTa</key>
  <string>bNKTa___.glif</string>
  <key>bNTta</key>
  <string>bNTta__.glif</string>
  <key>bNTtRa</key>
  <string>bNTtRa___.glif</string>
  <key>bNTtha</key>
  <string>bNTtha__.glif</string>
  <key>bNDda</key>
  <string>bNDda__.glif</string>
  <key>bNDdRa</key>
  <string>bNDdRa___.glif</string>
  <key>bNTa</key>
  <string>bNTa__.glif</string>
  <key>bNTBa</key>
  <string>bNTBa___.glif</string>
  <key>bNTRa</key>
  <string>bNTRa___.glif</string>
  <key>bNTha</key>
  <string>bNTha__.glif</string>
  <key>bNThRa</key>
  <string>bNThRa___.glif</string>
  <key>bNDa</key>
  <string>bNDa__.glif</string>
  <key>bNDBa</key>
  <string>bNDBa___.glif</string>
  <key>bNDRa</key>
  <string>bNDRa___.glif</string>
  <key>bNDha</key>
  <string>bNDha__.glif</string>
  <key>bNDhBa</key>
  <string>bNDhBa___.glif</string>
  <key>bNDhRa</key>
  <string>bNDhRa___.glif</string>
  <key>bNNa</key>
  <string>bNNa__.glif</string>
  <key>bNBa</key>
  <string>bNBa__.glif</string>
  <key>bNMa</key>
  <string>bNMa__.glif</string>
  <key>bNRa</key>
  <string>bNRa__.glif</string>
  <key>bNSa</key>
  <string>bNSa__.glif</string>
  <key>bPTta</key>
  <string>bPTta__.glif</string>
  <key>bPTa</key>
  <string>bPTa__.glif</string>
  <key>bPTRa</key>
  <string>bPTRa___.glif</string>
  <key>bPNa</key>
  <string>bPNa__.glif</string>
  <key>bPPa</key>
  <string>bPPa__.glif</string>
  <key>bPMa</key>
  <string>bPMa__.glif</string>
  <key>bPRa</key>
  <string>bPRa__.glif</string>
  <key>bPLa</key>
  <string>bPLa__.glif</string>
  <key>bPSa</key>
  <string>bPSa__.glif</string>
  <key>bPhTta</key>
  <string>bPhTta__.glif</string>
  <key>bPhRa</key>
  <string>bPhRa__.glif</string>
  <key>bPhLa</key>
  <string>bPhLa__.glif</string>
  <key>bBJa</key>
  <string>bBJa__.glif</string>
  <key>bBJha</key>
  <string>bBJha__.glif</string>
  <key>bBDda</key>
  <string>bBDda__.glif</string>
  <key>bBDdha</key>
  <string>bBDdha__.glif</string>
  <key>bBDa</key>
  <string>bBDa__.glif</string>
  <key>bBDRa</key>
  <string>bBDRa___.glif</string>
  <key>bBDha</key>
  <string>bBDha__.glif</string>
  <key>bBBa</key>
  <string>bBBa__.glif</string>
  <key>bBBha</key>
  <string>bBBha__.glif</string>
  <key>bBRa</key>
  <string>bBRa__.glif</string>
  <key>bBLa</key>
  <string>bBLa__.glif</string>
  <key>bBhBa</key>
  <string>bBhBa__.glif</string>
  <key>bBhRa</key>
  <string>bBhRa__.glif</string>
  <key>bBhLa</key>
  <string>bBhLa__.glif</string>
  <key>bMTa</key>
  <string>bMTa__.glif</string>
  <key>bMDa</key>
  <string>bMDa__.glif</string>
  <key>bMNa</key>
  <string>bMNa__.glif</string>
  <key>bMPa</key>
  <string>bMPa__.glif</string>
  <key>bMPRa</key>
  <string>bMPRa___.glif</string>
  <key>bMPha</key>
  <string>bMPha__.glif</string>
  <key>bMPhRa</key>
  <string>bMPhRa___.glif</string>
  <key>bMBa</key>
  <string>bMBa__.glif</string>
  <key>bMBha</key>
  <string>bMBha__.glif</string>
  <key>bMBhRa</key>
  <string>bMBhRa___.glif</string>
  <key>bMMa</key>
  <string>bMMa__.glif</string>
  <key>bMRa</key>
  <string>bMRa__.glif</string>
  <key>bMLa</key>
  <string>bMLa__.glif</string>
  <key>bYRa</key>
  <string>bYRa__.glif</string>
  <key>bLKa</key>
  <string>bLKa__.glif</string>
  <key>bLGa</key>
  <string>bLGa__.glif</string>
  <key>bLGha</key>
  <string>bLGha__.glif</string>
  <key>bLTta</key>
  <string>bLTta__.glif</string>
  <key>bLTtRa</key>
  <string>bLTtRa___.glif</string>
  <key>bLDda</key>
  <string>bLDda__.glif</string>
  <key>bLDdRa</key>
  <string>bLDdRa___.glif</string>
  <key>bLDdha</key>
  <string>bLDdha__.glif</string>
  <key>bLDa</key>
  <string>bLDa__.glif</string>
  <key>bLPa</key>
  <string>bLPa__.glif</string>
  <key>bLPha</key>
  <string>bLPha__.glif</string>
  <key>bLBa</key>
  <string>bLBa__.glif</string>
  <key>bLMa</key>
  <string>bLMa__.glif</string>
  <key>bLRa</key>
  <string>bLRa__.glif</string>
  <key>bLLa</key>
  <string>bLLa__.glif</string>
  <key>bLSa</key>
  <string>bLSa__.glif</string>
  <key>bShCa</key>
  <string>bShCa__.glif</string>
  <key>bShCha</key>
  <string>bShCha__.glif</string>
  <key>bShTta</key>
  <string>bShTta__.glif</string>
  <key>bShTa</key>
  <string>bShTa__.glif</string>
  <key>bShNa</key>
  <string>bShNa__.glif</string>
  <key>bShBa</key>
  <string>bShBa__.glif</string>
  <key>bShMa</key>
  <string>bShMa__.glif</string>
  <key>bShRa</key>
  <string>bShRa__.glif</string>
  <key>bShLa</key>
  <string>bShLa__.glif</string>
  <key>bSsKa</key>
  <string>bSsKa__.glif</string>
  <key>bSsKRa</key>
  <string>bSsKRa___.glif</string>
  <key>bSsTta</key>
  <string>bSsTta__.glif</string>
  <key>bSsTtBa</key>
  <string>bSsTtBa___.glif</string>
  <key>bSsTtRa</key>
  <string>bSsTtRa___.glif</string>
  <key>bSsTtha</key>
  <string>bSsTtha__.glif</string>
  <key>bSsNna</key>
  <string>bSsNna__.glif</string>
  <key>bSsPa</key>
  <string>bSsPa__.glif</string>
  <key>bSsPRa</key>
  <string>bSsPRa___.glif</string>
  <key>bSsPha</key>
  <string>bSsPha__.glif</string>
  <key>bSsBa</key>
  <string>bSsBa__.glif</string>
  <key>bSsMa</key>
  <string>bSsMa__.glif</string>
  <key>bSsRa</key>
  <string>bSsRa__.glif</string>
  <key>bSKa</key>
  <string>bSKa__.glif</string>
  <key>bSKRa</key>
  <string>bSKRa___.glif</string>
  <key>bSKha</key>
  <string>bSKha__.glif</string>
  <key>bSTta</key>
  <string>bSTta__.glif</string>
  <key>bSTtRa</key>
  <string>bSTtRa___.glif</string>
  <key>bSTa</key>
  <string>bSTa__.glif</string>
  <key>bSTBa</key>
  <string>bSTBa___.glif</string>
  <key>bSTha</key>
  <string>bSTha__.glif</string>
  <key>bSTRa</key>
  <string>bSTRa___.glif</string>
  <key>bSNa</key>
  <string>bSNa__.glif</string>
  <key>bSPa</key>
  <string>bSPa__.glif</string>
  <key>bSPRa</key>
  <string>bSPRa___.glif</string>
  <key>bSPLa</key>
  <string>bSPLa___.glif</string>
  <key>bSPha</key>
  <string>bSPha__.glif</string>
  <key>bSBa</key>
  <string>bSBa__.glif</string>
  <key>bSMa</key>
  <string>bSMa__.glif</string>
  <key>bSRa</key>
  <string>bSRa__.glif</string>
  <key>bSLa</key>
  <string>bSLa__.glif</string>
  <key>bHNna</key>
  <string>bHNna__.glif</string>
  <key>bHNa</key>
  <string>bHNa__.glif</string>
  <key>bHBa</key>
  <string>bHBa__.glif</string>
  <key>bHMa</key>
  <string>bHMa__.glif</string>
  <key>bHRa</key>
  <string>bHRa__.glif</string>
  <key>bHLa</key>
  <string>bHLa__.glif</string>
  <key>bRrGa</key>
  <string>bRrGa__.glif</string>
  <key>bYaphala</key>
  <string>bYaphala_.glif</string>
  <key>bBaphala</key>
  <string>bBaphala_.glif</string>
  <key>bRaphala</key>
  <string>bRaphala_.glif</string>
  <key>bZa</key>
  <string>bZa_.glif</string>
  <key>bRrRa</key>
  <string>bRrRa__.glif</string>
  <key>bRhRa</key>
  <string>bRhRa__.glif</string>
  <key>bYyRa</key>
  <string>bYyRa__.glif</string>
  <key>bVaAssameseRa</key>
  <string>bVaAssameseRa___.glif</string>
  <key>bZero</key>
  <string>bZero_.glif</string>
  <key>bOne</key>
  <string>bOne_.glif</string>
  <key>bTwo</key>
  <string>bTwo_.glif</string>
  <key>bThree</key>
  <string>bThree_.glif</string>
  <key>bFour</key>
  <string>bFour_.glif</string>
  <key>bFive</key>
  <string>bFive_.glif</string>
  <key>bSix</key>
  <string>bSix_.glif</string>
  <key>bSeven</key>
  <string>bSeven_.glif</string>
  <key>bEight</key>
  <string>bEight_.glif</string>
  <key>bNine</key>
  <string>bNine_.glif</string>
  <key>Danda</key>
  <string>Danda_.glif</string>
  <key>DoubleDanda</key>
  <string>DoubleDanda__.glif</string>
  <key>bDandaPoetic</key>
  <string>bDandaPoetic__.glif</string>
  <key>bDoubleDandaPoetic</key>
  <string>bDoubleDandaPoetic___.glif</string>
  <key>bIsshar</key>
  <string>bIsshar_.glif</string>
  <key>bRupeesign</key>
  <string>bRupeesign_.glif</string>
  <key>comma</key>
  <string>comma.glif</string>
  <key>semicolon</key>
  <string>semicolon.glif</string>
  <key>colon</key>
  <string>colon.glif</string>
  <key>period</key>
  <string>period.glif</string>
  <key>ellipsis</key>
  <string>ellipsis.glif</string>
  <key>exclam</key>
  <string>exclam.glif</string>
  <key>question</key>
  <string>question.glif</string>
  <key>parenleft</key>
  <string>parenleft.glif</string>
  <key>parenright</key>
  <string>parenright.glif</string>
  <key>bracketleft</key>
  <string>bracketleft.glif</string>
  <key>bracketright</key>
  <string>bracketright.glif</string>
  <key>quotesingle</key>
  <string>quotesingle.glif</string>
  <key>quotedbl</key>
  <string>quotedbl.glif</string>
  <key>quoteleft</key>
  <string>quoteleft.glif</string>
  <key>quoteright</key>
  <string>quoteright.glif</string>
  <key>quotedblleft</key>
  <string>quotedblleft.glif</string>
  <key>quotedblright</key>
  <string>quotedblright.glif</string>
  <key>hyphen</key>
  <string>hyphen.glif</string>
  <key>endash</key>
  <string>endash.glif</string>
  <key>emdash</key>
  <string>emdash.glif</string>
  <key>ZWNJ</key>
  <string>ZWNJ____.glif</string>
  <key>ZWJ</key>
  <string>ZWJ___.glif</string>
  <key>BASE</key>
  <string>BASE____.glif</string>
  <key>A</key>
  <string>A_.glif</string>
  <key>Aacute</key>
  <string>Aacute_.glif</string>
  <key>Abreve</key>
  <string>Abreve_.glif</string>
  <key>Acircumflex</key>
  <string>Acircumflex_.glif</string>
  <key>Adieresis</key>
  <string>Adieresis_.glif</string>
  <key>Agrave</key>
  <string>Agrave_.glif</string>
  <key>Amacron</key>
  <string>Amacron_.glif</string>
  <key>Aogonek</key>
  <string>Aogonek_.glif</string>
  <key>Aring</key>
  <string>Aring_.glif</string>
  <key>Atilde</key>
  <string>Atilde_.glif</string>
  <key>AE</key>
  <string>AE__.glif</string>
  <key>B</key>
  <string>B_.glif</string>
  <key>C</key>
  <string>C_.glif</string>
  <key>Cacute</key>
  <string>Cacute_.glif</string>
  <key>Ccaron</key>
  <string>Ccaron_.glif</string>
  <key>Ccedilla</key>
  <string>Ccedilla_.glif</string>
  <key>Cdotaccent</key>
  <string>Cdotaccent_.glif</string>
  <key>D</key>
  <string>D_.glif</string>
  <key>Eth</key>
  <string>Eth_.glif</string>
  <key>Dcaron</key>
  <string>Dcaron_.glif</string>
  <key>Dcroat</key>
  <string>Dcroat_.glif</string>
  <key>E</key>
  <string>E_.glif</string>
  <key>Eacute</key>
  <string>Eacute_.glif</string>
  <key>Ecaron</key>
  <string>Ecaron_.glif</string>
  <key>Ecircumflex</key>
  <string>Ecircumflex_.glif</string>
  <key>Edieresis</key>
  <string>Edieresis_.glif</string>
  <key>Edotaccent</key>
  <string>Edotaccent_.glif</string>
  <key>Egrave</key>
  <string>Egrave_.glif</string>
  <key>Emacron</key>
  <string>Emacron_.glif</string>
  <key>Eogonek</key>
  <string>Eogonek_.glif</string>
  <key>F</key>
  <string>F_.glif</string>
  <key>G</key>
  <string>G_.glif</string>
  <key>Gbreve</key>
  <string>Gbreve_.glif</string>
  <key>Gcommaaccent</key>
  <string>Gcommaaccent_.glif</string>
  <key>Gdotaccent</key>
  <string>Gdotaccent_.glif</string>
  <key>H</key>
  <string>H_.glif</string>
  <key>Hbar</key>
  <string>Hbar_.glif</string>
  <key>I</key>
  <string>I_.glif</string>
  <key>Iacute</key>
  <string>Iacute_.glif</string>
  <key>Icircumflex</key>
  <string>Icircumflex_.glif</string>
  <key>Idieresis</key>
  <string>Idieresis_.glif</string>
  <key>Idotaccent</key>
  <string>Idotaccent_.glif</string>
  <key>Igrave</key>
  <string>Igrave_.glif</string>
  <key>Imacron</key>
  <string>Imacron_.glif</string>
  <key>Iogonek</key>
  <string>Iogonek_.glif</string>
  <key>J</key>
  <string>J_.glif</string>
  <key>K</key>
  <string>K_.glif</string>
  <key>Kcommaaccent</key>
  <string>Kcommaaccent_.glif</string>
  <key>L</key>
  <string>L_.glif</string>
  <key>Lacute</key>
  <string>Lacute_.glif</string>
  <key>Lcaron</key>
  <string>Lcaron_.glif</string>
  <key>Lcommaaccent</key>
  <string>Lcommaaccent_.glif</string>
  <key>Lslash</key>
  <string>Lslash_.glif</string>
  <key>M</key>
  <string>M_.glif</string>
  <key>N</key>
  <string>N_.glif</string>
  <key>Nacute</key>
  <string>Nacute_.glif</string>
  <key>Ncaron</key>
  <string>Ncaron_.glif</string>
  <key>Ncommaaccent</key>
  <string>Ncommaaccent_.glif</string>
  <key>Eng</key>
  <string>Eng_.glif</string>
  <key>Ntilde</key>
  <string>Ntilde_.glif</string>
  <key>O</key>
  <string>O_.glif</string>
  <key>Oacute</key>
  <string>Oacute_.glif</string>
  <key>Ocircumflex</key>
  <string>Ocircumflex_.glif</string>
  <key>Odieresis</key>
  <string>Odieresis_.glif</string>
  <key>Ograve</key>
  <string>Ograve_.glif</string>
  <key>Ohungarumlaut</key>
  <string>Ohungarumlaut_.glif</string>
  <key>Omacron</key>
  <string>Omacron_.glif</string>
  <key>Oslash</key>
  <string>Oslash_.glif</string>
  <key>Otilde</key>
  <string>Otilde_.glif</string>
  <key>OE</key>
  <string>OE__.glif</string>
  <key>P</key>
  <string>P_.glif</string>
  <key>Thorn</key>
  <string>Thorn_.glif</string>
  <key>Q</key>
  <string>Q_.glif</string>
  <key>R</key>
  <string>R_.glif</string>
  <key>Racute</key>
  <string>Racute_.glif</string>
  <key>Rcaron</key>
  <string>Rcaron_.glif</string>
  <key>Rcommaaccent</key>
  <string>Rcommaaccent_.glif</string>
  <key>S</key>
  <string>S_.glif</string>
  <key>Sacute</key>
  <string>Sacute_.glif</string>
  <key>Scaron</key>
  <string>Scaron_.glif</string>
  <key>Scedilla</key>
  <string>Scedilla_.glif</string>
  <key>Scommaaccent</key>
  <string>Scommaaccent_.glif</string>
  <key>T</key>
  <string>T_.glif</string>
  <key>Tbar</key>
  <string>Tbar_.glif</string>
  <key>Tcaron</key>
  <string>Tcaron_.glif</string>
  <key>Tcedilla</key>
  <string>Tcedilla_.glif</string>
  <key>Tcommaaccent</key>
  <string>Tcommaaccent_.glif</string>
  <key>U</key>
  <string>U_.glif</string>
  <key>Uacute</key>
  <string>Uacute_.glif</string>
  <key>Ucircumflex</key>
  <string>Ucircumflex_.glif</string>
  <key>Udieresis</key>
  <string>Udieresis_.glif</string>
  <key>Ugrave</key>
  <string>Ugrave_.glif</string>
  <key>Uhungarumlaut</key>
  <string>Uhungarumlaut_.glif</string>
  <key>Umacron</key>
  <string>Umacron_.glif</string>
  <key>Uogonek</key>
  <string>Uogonek_.glif</string>
  <key>Uring</key>
  <string>Uring_.glif</string>
  <key>V</key>
  <string>V_.glif</string>
  <key>W</key>
  <string>W_.glif</string>
  <key>Wacute</key>
  <string>Wacute_.glif</string>
  <key>Wcircumflex</key>
  <string>Wcircumflex_.glif</string>
  <key>Wdieresis</key>
  <string>Wdieresis_.glif</string>
  <key>Wgrave</key>
  <string>Wgrave_.glif</string>
  <key>X</key>
  <string>X_.glif</string>
  <key>Y</key>
  <string>Y_.glif</string>
  <key>Yacute</key>
  <string>Yacute_.glif</string>
  <key>Ycircumflex</key>
  <string>Ycircumflex_.glif</string>
  <key>Ydieresis</key>
  <string>Ydieresis_.glif</string>
  <key>Ygrave</key>
  <string>Ygrave_.glif</string>
  <key>Z</key>
  <string>Z_.glif</string>
  <key>Zacute</key>
  <string>Zacute_.glif</string>
  <key>Zcaron</key>
  <string>Zcaron_.glif</string>
  <key>Zdotaccent</key>
  <string>Zdotaccent_.glif</string>
  <key>a</key>
  <string>a.glif</string>
  <key>aacute</key>
  <string>aacute.glif</string>
  <key>abreve</key>
  <string>abreve.glif</string>
  <key>acircumflex</key>
  <string>acircumflex.glif</string>
  <key>adieresis</key>
  <string>adieresis.glif</string>
  <key>agrave</key>
  <string>agrave.glif</string>
  <key>amacron</key>
  <string>amacron.glif</string>
  <key>aogonek</key>
  <string>aogonek.glif</string>
  <key>aring</key>
  <string>aring.glif</string>
  <key>atilde</key>
  <string>atilde.glif</string>
  <key>ae</key>
  <string>ae.glif</string>
  <key>b</key>
  <string>b.glif</string>
  <key>c</key>
  <string>c.glif</string>
  <key>cacute</key>
  <string>cacute.glif</string>
  <key>ccaron</key>
  <string>ccaron.glif</string>
  <key>ccedilla</key>
  <string>ccedilla.glif</string>
  <key>cdotaccent</key>
  <string>cdotaccent.glif</string>
  <key>d</key>
  <string>d.glif</string>
  <key>eth</key>
  <string>eth.glif</string>
  <key>dcaron</key>
  <string>dcaron.glif</string>
  <key>dcroat</key>
  <string>dcroat.glif</string>
  <key>e</key>
  <string>e.glif</string>
  <key>eacute</key>
  <string>eacute.glif</string>
  <key>ecaron</key>
  <string>ecaron.glif</string>
  <key>ecircumflex</key>
  <string>ecircumflex.glif</string>
  <key>edieresis</key>
  <string>edieresis.glif</string>
  <key>edotaccent</key>
  <string>edotaccent.glif</string>
  <key>egrave</key>
  <string>egrave.glif</string>
  <key>emacron</key>
  <string>emacron.glif</string>
  <key>eogonek</key>
  <string>eogonek.glif</string>
  <key>f</key>
  <string>f.glif</string>
  <key>g</key>
  <string>g.glif</string>
  <key>gbreve</key>
  <string>gbreve.glif</string>
  <key>gcommaaccent</key>
  <string>gcommaaccent.glif</string>
  <key>gdotaccent</key>
  <string>gdotaccent.glif</string>
  <key>h</key>
  <string>h.glif</string>
  <key>hbar</key>
  <string>hbar.glif</string>
  <key>i</key>
  <string>i.glif</string>
  <key>dotlessi</key>
  <string>dotlessi.glif</string>
  <key>iacute</key>
  <string>iacute.glif</string>
  <key>icircumflex</key>
  <string>icircumflex.glif</string>
  <key>idieresis</key>
  <string>idieresis.glif</string>
  <key>igrave</key>
  <string>igrave.glif</string>
  <key>imacron</key>
  <string>imacron.glif</string>
  <key>iogonek</key>
  <string>iogonek.glif</string>
  <key>j</key>
  <string>j.glif</string>
  <key>k</key>
  <string>k.glif</string>
  <key>kcommaaccent</key>
  <string>kcommaaccent.glif</string>
  <key>l</key>
  <string>l.glif</string>
  <key>lacute</key>
  <string>lacute.glif</string>
  <key>lcaron</key>
  <string>lcaron.glif</string>
  <key>lcommaaccent</key>
  <string>lcommaaccent.glif</string>
  <key>lslash</key>
  <string>lslash.glif</string>
  <key>m</key>
  <string>m.glif</string>
  <key>n</key>
  <string>n.glif</string>
  <key>nacute</key>
  <string>nacute.glif</string>
  <key>ncaron</key>
  <string>ncaron.glif</string>
  <key>ncommaaccent</key>
  <string>ncommaaccent.glif</string>
  <key>eng</key>
  <string>eng.glif</string>
  <key>ntilde</key>
  <string>ntilde.glif</string>
  <key>o</key>
  <string>o.glif</string>
  <key>oacute</key>
  <string>oacute.glif</string>
  <key>ocircumflex</key>
  <string>ocircumflex.glif</string>
  <key>odieresis</key>
  <string>odieresis.glif</string>
  <key>ograve</key>
  <string>ograve.glif</string>
  <key>ohungarumlaut</key>
  <string>ohungarumlaut.glif</string>
  <key>omacron</key>
  <string>omacron.glif</string>
  <key>oslash</key>
  <string>oslash.glif</string>
  <key>otilde</key>
  <string>otilde.glif</string>
  <key>oe</key>
  <string>oe.glif</string>
  <key>p</key>
  <string>p.glif</string>
  <key>thorn</key>
  <string>thorn.glif</string>
  <key>q</key>
  <string>q.glif</string>
  <key>r</key>
  <string>r.glif</string>
  <key>racute</key>
  <string>racute.glif</string>
  <key>rcaron</key>
  <string>rcaron.glif</string>
  <key>rcommaaccent</key>
  <string>rcommaaccent.glif</string>
  <key>s</key>
  <string>s.glif</string>
  <key>sacute</key>
  <string>sacute.glif</string>
  <key>scaron</key>
  <string>scaron.glif</string>
  <key>scedilla</key>
  <string>scedilla.glif</string>
  <key>scommaaccent</key>
  <string>scommaaccent.glif</string>
  <key>germandbls</key>
  <string>germandbls.glif</string>
  <key>t</key>
  <string>t.glif</string>
  <key>tbar</key>
  <string>tbar.glif</string>
  <key>tcaron</key>
  <string>tcaron.glif</string>
  <key>tcedilla</key>
  <string>tcedilla.glif</string>
  <key>tcommaaccent</key>
  <string>tcommaaccent.glif</string>
  <key>u</key>
  <string>u.glif</string>
  <key>uacute</key>
  <string>uacute.glif</string>
  <key>ucircumflex</key>
  <string>ucircumflex.glif</string>
  <key>udieresis</key>
  <string>udieresis.glif</string>
  <key>ugrave</key>
  <string>ugrave.glif</string>
  <key>uhungarumlaut</key>
  <string>uhungarumlaut.glif</string>
  <key>umacron</key>
  <string>umacron.glif</string>
  <key>uogonek</key>
  <string>uogonek.glif</string>
  <key>uring</key>
  <string>uring.glif</string>
  <key>v</key>
  <string>v.glif</string>
  <key>w</key>
  <string>w.glif</string>
  <key>wacute</key>
  <string>wacute.glif</string>
  <key>wcircumflex</key>
  <string>wcircumflex.glif</string>
  <key>wdieresis</key>
  <string>wdieresis.glif</string>
  <key>wgrave</key>
  <string>wgrave.glif</string>
  <key>x</key>
  <string>x.glif</string>
  <key>y</key>
  <string>y.glif</string>
  <key>yacute</key>
  <string>yacute.glif</string>
  <key>ycircumflex</key>
  <string>ycircumflex.glif</string>
  <key>ydieresis</key>
  <string>ydieresis.glif</string>
  <key>ygrave</key>
  <string>ygrave.glif</string>
  <key>z</key>
  <string>z.glif</string>
  <key>zacute</key>
  <string>zacute.glif</string>
  <key>zcaron</key>
  <string>zcaron.glif</string>
  <key>zdotaccent</key>
  <string>zdotaccent.glif</string>
  <key>fi</key>
  <string>fi.glif</string>
  <key>fl</key>
  <string>fl.glif</string>
  <key>ordfeminine</key>
  <string>ordfeminine.glif</string>
  <key>ordmasculine</key>
  <string>ordmasculine.glif</string>
  <key>pi</key>
  <string>pi.glif</string>
  <key>zero</key>
  <string>zero.glif</string>
  <key>one</key>
  <string>one.glif</string>
  <key>two</key>
  <string>two.glif</string>
  <key>three</key>
  <string>three.glif</string>
  <key>four</key>
  <string>four.glif</string>
  <key>five</key>
  <string>five.glif</string>
  <key>six</key>
  <string>six.glif</string>
  <key>seven</key>
  <string>seven.glif</string>
  <key>eight</key>
  <string>eight.glif</string>
  <key>nine</key>
  <string>nine.glif</string>
  <key>fraction</key>
  <string>fraction.glif</string>
  <key>onehalf</key>
  <string>onehalf.glif</string>
  <key>onequarter</key>
  <string>onequarter.glif</string>
  <key>threequarters</key>
  <string>threequarters.glif</string>
  <key>onesuperior</key>
  <string>onesuperior.glif</string>
  <key>twosuperior</key>
  <string>twosuperior.glif</string>
  <key>threesuperior</key>
  <string>threesuperior.glif</string>
  <key>asterisk</key>
  <string>asterisk.glif</string>
  <key>backslash</key>
  <string>backslash.glif</string>
  <key>periodcentered</key>
  <string>periodcentered.glif</string>
  <key>bullet</key>
  <string>bullet.glif</string>
  <key>exclamdown</key>
  <string>exclamdown.glif</string>
  <key>numbersign</key>
  <string>numbersign.glif</string>
  <key>questiondown</key>
  <string>questiondown.glif</string>
  <key>slash</key>
  <string>slash.glif</string>
  <key>underscore</key>
  <string>underscore.glif</string>
  <key>braceleft</key>
  <string>braceleft.glif</string>
  <key>braceright</key>
  <string>braceright.glif</string>
  <key>uni00AD</key>
  <string>uni00AD__.glif</string>
  <key>guillemotleft</key>
  <string>guillemotleft.glif</string>
  <key>guillemotright</key>
  <string>guillemotright.glif</string>
  <key>guilsinglleft</key>
  <string>guilsinglleft.glif</string>
  <key>guilsinglright</key>
  <string>guilsinglright.glif</string>
  <key>quotedblbase</key>
  <string>quotedblbase.glif</string>
  <key>quotesinglbase</key>
  <string>quotesinglbase.glif</string>
  <key>cent</key>
  <string>cent.glif</string>
  <key>currency</key>
  <string>currency.glif</string>
  <key>dollar</key>
  <string>dollar.glif</string>
  <key>Euro</key>
  <string>Euro_.glif</string>
  <key>florin</key>
  <string>florin.glif</string>
  <key>sterling</key>
  <string>sterling.glif</string>
  <key>uni20B9</key>
  <string>uni20B9_.glif</string>
  <key>uni20BA</key>
  <string>uni20BA__.glif</string>
  <key>uni20BD</key>
  <string>uni20BD__.glif</string>
  <key>yen</key>
  <string>yen.glif</string>
  <key>plus</key>
  <string>plus.glif</string>
  <key>minus</key>
  <string>minus.glif</string>
  <key>multiply</key>
  <string>multiply.glif</string>
  <key>divide</key>
  <string>divide.glif</string>
  <key>equal</key>
  <string>equal.glif</string>
  <key>notequal</key>
  <string>notequal.glif</string>
  <key>greater</key>
  <string>greater.glif</string>
  <key>less</key>
  <string>less.glif</string>
  <key>greaterequal</key>
  <string>greaterequal.glif</string>
  <key>lessequal</key>
  <string>lessequal.glif</string>
  <key>plusminus</key>
  <string>plusminus.glif</string>
  <key>approxequal</key>
  <string>approxequal.glif</string>
  <key>asciitilde</key>
  <string>asciitilde.glif</string>
  <key>logicalnot</key>
  <string>logicalnot.glif</string>
  <key>infinity</key>
  <string>infinity.glif</string>
  <key>integral</key>
  <string>integral.glif</string>
  <key>uni2126</key>
  <string>uni2126.glif</string>
  <key>uni2206</key>
  <string>uni2206.glif</string>
  <key>product</key>
  <string>product.glif</string>
  <key>summation</key>
  <string>summation.glif</string>
  <key>radical</key>
  <string>radical.glif</string>
  <key>partialdiff</key>
  <string>partialdiff.glif</string>
  <key>uni00B5</key>
  <string>uni00B5_.glif</string>
  <key>percent</key>
  <string>percent.glif</string>
  <key>perthousand</key>
  <string>perthousand.glif</string>
  <key>uni2215</key>
  <string>uni2215.glif</string>
  <key>uni2219</key>
  <string>uni2219.glif</string>
  <key>lozenge</key>
  <string>lozenge.glif</string>
  <key>at</key>
  <string>at.glif</string>
  <key>ampersand</key>
  <string>ampersand.glif</string>
  <key>paragraph</key>
  <string>paragraph.glif</string>
  <key>section</key>
  <string>section.glif</string>
  <key>copyright</key>
  <string>copyright.glif</string>
  <key>registered</key>
  <string>registered.glif</string>
  <key>trademark</key>
  <string>trademark.glif</string>
  <key>degree</key>
  <string>degree.glif</string>
  <key>bar</key>
  <string>bar.glif</string>
  <key>brokenbar</key>
  <string>brokenbar.glif</string>
  <key>uni2113</key>
  <string>uni2113.glif</string>
  <key>dagger</key>
  <string>dagger.glif</string>
  <key>daggerdbl</key>
  <string>daggerdbl.glif</string>
  <key>asciicircum</key>
  <string>asciicircum.glif</string>
  <key>dieresiscomb</key>
  <string>dieresiscomb.glif</string>
  <key>dotaccentcomb</key>
  <string>dotaccentcomb.glif</string>
  <key>gravecomb</key>
  <string>gravecomb.glif</string>
  <key>acutecomb</key>
  <string>acutecomb.glif</string>
  <key>hungarumlautcomb</key>
  <string>hungarumlautcomb.glif</string>
  <key>circumflexcomb</key>
  <string>circumflexcomb.glif</string>
  <key>caroncomb</key>
  <string>caroncomb.glif</string>
  <key>brevecomb</key>
  <string>brevecomb.glif</string>
  <key>ringcomb</key>
  <string>ringcomb.glif</string>
  <key>tildecomb</key>
  <string>tildecomb.glif</string>
  <key>macroncomb</key>
  <string>macroncomb.glif</string>
  <key>commaturnedabovecomb</key>
  <string>commaturnedabovecomb.glif</string>
  <key>commaaccentcomb</key>
  <string>commaaccentcomb.glif</string>
  <key>cedillacomb</key>
  <string>cedillacomb.glif</string>
  <key>ogonekcomb</key>
  <string>ogonekcomb.glif</string>
  <key>strokeshortcomb</key>
  <string>strokeshortcomb.glif</string>
  <key>strokelongcomb</key>
  <string>strokelongcomb.glif</string>
  <key>slashshortcomb</key>
  <string>slashshortcomb.glif</string>
  <key>slashlongcomb</key>
  <string>slashlongcomb.glif</string>
  <key>dieresiscomb.case</key>
  <string>dieresiscomb.case.glif</string>
  <key>dotaccentcomb.case</key>
  <string>dotaccentcomb.case.glif</string>
  <key>gravecomb.case</key>
  <string>gravecomb.case.glif</string>
  <key>acutecomb.case</key>
  <string>acutecomb.case.glif</string>
  <key>hungarumlautcomb.case</key>
  <string>hungarumlautcomb.case.glif</string>
  <key>circumflexcomb.case</key>
  <string>circumflexcomb.case.glif</string>
  <key>caroncomb.case</key>
  <string>caroncomb.case.glif</string>
  <key>brevecomb.case</key>
  <string>brevecomb.case.glif</string>
  <key>ringcomb.case</key>
  <string>ringcomb.case.glif</string>
  <key>tildecomb.case</key>
  <string>tildecomb.case.glif</string>
  <key>macroncomb.case</key>
  <string>macroncomb.case.glif</string>
  <key>acute</key>
  <string>acute.glif</string>
  <key>breve</key>
  <string>breve.glif</string>
  <key>caron</key>
  <string>caron.glif</string>
  <key>cedilla</key>
  <string>cedilla.glif</string>
  <key>circumflex</key>
  <string>circumflex.glif</string>
  <key>dieresis</key>
  <string>dieresis.glif</string>
  <key>dotaccent</key>
  <string>dotaccent.glif</string>
  <key>grave</key>
  <string>grave.glif</string>
  <key>hungarumlaut</key>
  <string>hungarumlaut.glif</string>
  <key>macron</key>
  <string>macron.glif</string>
  <key>ogonek</key>
  <string>ogonek.glif</string>
  <key>ring</key>
  <string>ring.glif</string>
  <key>tilde</key>
  <string>tilde.glif</string>
</dict>
</plist>
