<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<false/>
	<key>com.schriftgestaltung.fontMaster.userData</key>
	<dict>
		<key>GSOffsetHorizontal</key>
		<integer>3</integer>
		<key>GSOffsetProportional</key>
		<integer>1</integer>
		<key>GSOffsetVertical</key>
		<integer>10</integer>
	</dict>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>9609CB55-EFEB-482C-9A6C-237B4D7F8578</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>space</string>
		<string>indianrupee</string>
		<string>zerowidthnonjoiner</string>
		<string>zerowidthjoiner</string>
		<string>dottedcircle</string>
		<string>exclam</string>
		<string>quotedbl</string>
		<string>numbersign</string>
		<string>dollar</string>
		<string>percent</string>
		<string>ampersand</string>
		<string>quotesingle</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>asterisk</string>
		<string>plus</string>
		<string>comma</string>
		<string>hyphen</string>
		<string>period</string>
		<string>slash</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>less</string>
		<string>equal</string>
		<string>greater</string>
		<string>question</string>
		<string>at</string>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>bracketleft</string>
		<string>backslash</string>
		<string>bracketright</string>
		<string>asciicircum</string>
		<string>underscore</string>
		<string>grave</string>
		<string>a</string>
		<string>b</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
		<string>braceleft</string>
		<string>bar</string>
		<string>braceright</string>
		<string>asciitilde</string>
		<string>uni00A0</string>
		<string>exclamdown</string>
		<string>cent</string>
		<string>sterling</string>
		<string>currency</string>
		<string>yen</string>
		<string>brokenbar</string>
		<string>section</string>
		<string>dieresis</string>
		<string>copyright</string>
		<string>ordfeminine</string>
		<string>guillemotleft</string>
		<string>logicalnot</string>
		<string>uni00AD</string>
		<string>registered</string>
		<string>macron</string>
		<string>degree</string>
		<string>plusminus</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>acute</string>
		<string>uni00B5</string>
		<string>paragraph</string>
		<string>periodcentered</string>
		<string>cedilla</string>
		<string>onesuperior</string>
		<string>ordmasculine</string>
		<string>guillemotright</string>
		<string>onequarter</string>
		<string>onehalf</string>
		<string>threequarters</string>
		<string>questiondown</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Aring</string>
		<string>AE</string>
		<string>Ccedilla</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Eth</string>
		<string>Ntilde</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>multiply</string>
		<string>Oslash</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Yacute</string>
		<string>Thorn</string>
		<string>germandbls</string>
		<string>agrave</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>atilde</string>
		<string>adieresis</string>
		<string>aring</string>
		<string>ae</string>
		<string>ccedilla</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>igrave</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>eth</string>
		<string>ntilde</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>divide</string>
		<string>oslash</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>yacute</string>
		<string>thorn</string>
		<string>ydieresis</string>
		<string>Amacron</string>
		<string>amacron</string>
		<string>Abreve</string>
		<string>abreve</string>
		<string>Aogonek</string>
		<string>aogonek</string>
		<string>Cacute</string>
		<string>cacute</string>
		<string>Ccaron</string>
		<string>ccaron</string>
		<string>Dcaron</string>
		<string>dcaron</string>
		<string>Dcroat</string>
		<string>dcroat</string>
		<string>Emacron</string>
		<string>emacron</string>
		<string>Edotaccent</string>
		<string>edotaccent</string>
		<string>Eogonek</string>
		<string>eogonek</string>
		<string>Ecaron</string>
		<string>ecaron</string>
		<string>Gbreve</string>
		<string>gbreve</string>
		<string>uni0122</string>
		<string>uni0123</string>
		<string>Imacron</string>
		<string>imacron</string>
		<string>Iogonek</string>
		<string>iogonek</string>
		<string>Idotaccent</string>
		<string>dotlessi</string>
		<string>uni0136</string>
		<string>uni0137</string>
		<string>Lacute</string>
		<string>lacute</string>
		<string>uni013B</string>
		<string>uni013C</string>
		<string>Lcaron</string>
		<string>lcaron</string>
		<string>Lslash</string>
		<string>lslash</string>
		<string>Nacute</string>
		<string>nacute</string>
		<string>uni0145</string>
		<string>uni0146</string>
		<string>Ncaron</string>
		<string>ncaron</string>
		<string>Omacron</string>
		<string>omacron</string>
		<string>Ohungarumlaut</string>
		<string>ohungarumlaut</string>
		<string>OE</string>
		<string>oe</string>
		<string>Racute</string>
		<string>racute</string>
		<string>uni0156</string>
		<string>uni0157</string>
		<string>Rcaron</string>
		<string>rcaron</string>
		<string>Sacute</string>
		<string>sacute</string>
		<string>uni015E</string>
		<string>uni015F</string>
		<string>Scaron</string>
		<string>scaron</string>
		<string>uni0162</string>
		<string>uni0163</string>
		<string>Tcaron</string>
		<string>tcaron</string>
		<string>Umacron</string>
		<string>umacron</string>
		<string>Uring</string>
		<string>uring</string>
		<string>Uhungarumlaut</string>
		<string>uhungarumlaut</string>
		<string>Uogonek</string>
		<string>uogonek</string>
		<string>Ydieresis</string>
		<string>Zacute</string>
		<string>zacute</string>
		<string>Zdotaccent</string>
		<string>zdotaccent</string>
		<string>Zcaron</string>
		<string>zcaron</string>
		<string>florin</string>
		<string>uni0218</string>
		<string>uni0219</string>
		<string>uni021A</string>
		<string>uni021B</string>
		<string>circumflex</string>
		<string>caron</string>
		<string>uni02C9</string>
		<string>breve</string>
		<string>dotaccent</string>
		<string>ring</string>
		<string>ogonek</string>
		<string>tilde</string>
		<string>hungarumlaut</string>
		<string>pi</string>
		<string>endash</string>
		<string>emdash</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotesinglbase</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quotedblbase</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>bullet</string>
		<string>ellipsis</string>
		<string>perthousand</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>fraction</string>
		<string>Euro</string>
		<string>uni20BA</string>
		<string>uni20BD</string>
		<string>uni2113</string>
		<string>trademark</string>
		<string>uni2126</string>
		<string>partialdiff</string>
		<string>uni2206</string>
		<string>product</string>
		<string>summation</string>
		<string>minus</string>
		<string>uni2215</string>
		<string>uni2219</string>
		<string>radical</string>
		<string>infinity</string>
		<string>integral</string>
		<string>approxequal</string>
		<string>notequal</string>
		<string>lessequal</string>
		<string>greaterequal</string>
		<string>lozenge</string>
		<string>fi</string>
		<string>fl</string>
		<string>ringcmb.cap</string>
		<string>dotaccentcmb.cap</string>
		<string>cedillacmb</string>
		<string>hungarumlautcmb</string>
		<string>dotaccentcmb</string>
		<string>gravecmb</string>
		<string>caroncmb</string>
		<string>macroncmb.cap</string>
		<string>ogonekcmb</string>
		<string>commaaccentcmb</string>
		<string>caroncmb.cap</string>
		<string>gravecmb.cap</string>
		<string>brevecmb</string>
		<string>dieresiscmb.cap</string>
		<string>circumflexcmb</string>
		<string>brevecmb.cap</string>
		<string>macroncmb</string>
		<string>acutecmb</string>
		<string>hungarumlautcmb.cap</string>
		<string>circumflexcmb.cap</string>
		<string>commaaccent</string>
		<string>dieresiscmb</string>
		<string>hungarianumlautcmb.cap</string>
		<string>acutecmb.cap</string>
		<string>tildecmb.cap</string>
		<string>tildecmb</string>
		<string>ringcmb</string>
		<string>ethslash</string>
		<string>mu</string>
	</array>
	<key>com.schriftgestaltung.useNiceNames</key>
	<false/>
	<key>com.schriftgestaltung.weight</key>
	<string>Bold</string>
	<key>com.typemytype.robofont.compileSettings.autohint</key>
	<true/>
	<key>com.typemytype.robofont.compileSettings.checkOutlines</key>
	<false/>
	<key>com.typemytype.robofont.compileSettings.decompose</key>
	<false/>
	<key>com.typemytype.robofont.compileSettings.generateFormat</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.compileSettings.releaseMode</key>
	<false/>
	<key>com.typemytype.robofont.foreground.layerStrokeColor</key>
	<array>
		<real>0.5</real>
		<integer>0</integer>
		<real>0.5</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.guides</key>
	<array>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<true/>
			<key>name</key>
			<string>SUB btm</string>
			<key>x</key>
			<integer>-337</integer>
			<key>y</key>
			<integer>-346</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<true/>
			<key>x</key>
			<integer>-30</integer>
			<key>y</key>
			<integer>-409</integer>
		</dict>
	</array>
	<key>com.typemytype.robofont.italicSlantOffset</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.layerOrder</key>
	<array>
		<string>wire</string>
		<string>mask</string>
	</array>
	<key>com.typemytype.robofont.mask.layerStrokeColor</key>
	<array>
		<integer>1</integer>
		<real>0.75</real>
		<integer>0</integer>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.segmentType</key>
	<string>curve</string>
	<key>com.typemytype.robofont.shouldAddPointsInSplineConversion</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.sort</key>
	<array>
		<dict>
			<key>ascending</key>
			<array>
				<string>.notdef</string>
				<string>space</string>
				<string>indianrupee</string>
				<string>zerowidthnonjoiner</string>
				<string>zerowidthjoiner</string>
				<string>dottedcircle</string>
				<string>exclam</string>
				<string>quotedbl</string>
				<string>numbersign</string>
				<string>dollar</string>
				<string>percent</string>
				<string>ampersand</string>
				<string>quotesingle</string>
				<string>parenleft</string>
				<string>parenright</string>
				<string>asterisk</string>
				<string>plus</string>
				<string>comma</string>
				<string>hyphen</string>
				<string>period</string>
				<string>slash</string>
				<string>zero</string>
				<string>one</string>
				<string>two</string>
				<string>three</string>
				<string>four</string>
				<string>five</string>
				<string>six</string>
				<string>seven</string>
				<string>eight</string>
				<string>nine</string>
				<string>colon</string>
				<string>semicolon</string>
				<string>less</string>
				<string>equal</string>
				<string>greater</string>
				<string>question</string>
				<string>at</string>
				<string>A</string>
				<string>B</string>
				<string>C</string>
				<string>D</string>
				<string>E</string>
				<string>F</string>
				<string>G</string>
				<string>H</string>
				<string>I</string>
				<string>J</string>
				<string>K</string>
				<string>L</string>
				<string>M</string>
				<string>N</string>
				<string>O</string>
				<string>P</string>
				<string>Q</string>
				<string>R</string>
				<string>S</string>
				<string>T</string>
				<string>U</string>
				<string>V</string>
				<string>W</string>
				<string>X</string>
				<string>Y</string>
				<string>Z</string>
				<string>bracketleft</string>
				<string>backslash</string>
				<string>bracketright</string>
				<string>asciicircum</string>
				<string>underscore</string>
				<string>grave</string>
				<string>a</string>
				<string>b</string>
				<string>c</string>
				<string>d</string>
				<string>e</string>
				<string>f</string>
				<string>g</string>
				<string>h</string>
				<string>i</string>
				<string>j</string>
				<string>k</string>
				<string>l</string>
				<string>m</string>
				<string>n</string>
				<string>o</string>
				<string>p</string>
				<string>q</string>
				<string>r</string>
				<string>s</string>
				<string>t</string>
				<string>u</string>
				<string>v</string>
				<string>w</string>
				<string>x</string>
				<string>y</string>
				<string>z</string>
				<string>braceleft</string>
				<string>bar</string>
				<string>braceright</string>
				<string>asciitilde</string>
				<string>uni00A0</string>
				<string>exclamdown</string>
				<string>cent</string>
				<string>sterling</string>
				<string>currency</string>
				<string>yen</string>
				<string>brokenbar</string>
				<string>section</string>
				<string>dieresis</string>
				<string>copyright</string>
				<string>ordfeminine</string>
				<string>guillemotleft</string>
				<string>logicalnot</string>
				<string>uni00AD</string>
				<string>registered</string>
				<string>macron</string>
				<string>degree</string>
				<string>plusminus</string>
				<string>twosuperior</string>
				<string>threesuperior</string>
				<string>acute</string>
				<string>uni00B5</string>
				<string>paragraph</string>
				<string>periodcentered</string>
				<string>cedilla</string>
				<string>onesuperior</string>
				<string>ordmasculine</string>
				<string>guillemotright</string>
				<string>onequarter</string>
				<string>onehalf</string>
				<string>threequarters</string>
				<string>questiondown</string>
				<string>Agrave</string>
				<string>Aacute</string>
				<string>Acircumflex</string>
				<string>Atilde</string>
				<string>Adieresis</string>
				<string>Aring</string>
				<string>AE</string>
				<string>Ccedilla</string>
				<string>Egrave</string>
				<string>Eacute</string>
				<string>Ecircumflex</string>
				<string>Edieresis</string>
				<string>Igrave</string>
				<string>Iacute</string>
				<string>Icircumflex</string>
				<string>Idieresis</string>
				<string>Eth</string>
				<string>Ntilde</string>
				<string>Ograve</string>
				<string>Oacute</string>
				<string>Ocircumflex</string>
				<string>Otilde</string>
				<string>Odieresis</string>
				<string>multiply</string>
				<string>Oslash</string>
				<string>Ugrave</string>
				<string>Uacute</string>
				<string>Ucircumflex</string>
				<string>Udieresis</string>
				<string>Yacute</string>
				<string>Thorn</string>
				<string>germandbls</string>
				<string>agrave</string>
				<string>aacute</string>
				<string>acircumflex</string>
				<string>atilde</string>
				<string>adieresis</string>
				<string>aring</string>
				<string>ae</string>
				<string>ccedilla</string>
				<string>egrave</string>
				<string>eacute</string>
				<string>ecircumflex</string>
				<string>edieresis</string>
				<string>igrave</string>
				<string>iacute</string>
				<string>icircumflex</string>
				<string>idieresis</string>
				<string>eth</string>
				<string>ntilde</string>
				<string>ograve</string>
				<string>oacute</string>
				<string>ocircumflex</string>
				<string>otilde</string>
				<string>odieresis</string>
				<string>divide</string>
				<string>oslash</string>
				<string>ugrave</string>
				<string>uacute</string>
				<string>ucircumflex</string>
				<string>udieresis</string>
				<string>yacute</string>
				<string>thorn</string>
				<string>ydieresis</string>
				<string>Amacron</string>
				<string>amacron</string>
				<string>Abreve</string>
				<string>abreve</string>
				<string>Aogonek</string>
				<string>aogonek</string>
				<string>Cacute</string>
				<string>cacute</string>
				<string>Ccaron</string>
				<string>ccaron</string>
				<string>Dcaron</string>
				<string>dcaron</string>
				<string>Dcroat</string>
				<string>dcroat</string>
				<string>Emacron</string>
				<string>emacron</string>
				<string>Edotaccent</string>
				<string>edotaccent</string>
				<string>Eogonek</string>
				<string>eogonek</string>
				<string>Ecaron</string>
				<string>ecaron</string>
				<string>Gbreve</string>
				<string>gbreve</string>
				<string>uni0122</string>
				<string>uni0123</string>
				<string>Imacron</string>
				<string>imacron</string>
				<string>Iogonek</string>
				<string>iogonek</string>
				<string>Idotaccent</string>
				<string>dotlessi</string>
				<string>uni0136</string>
				<string>uni0137</string>
				<string>Lacute</string>
				<string>lacute</string>
				<string>uni013B</string>
				<string>uni013C</string>
				<string>Lcaron</string>
				<string>lcaron</string>
				<string>Lslash</string>
				<string>lslash</string>
				<string>Nacute</string>
				<string>nacute</string>
				<string>uni0145</string>
				<string>uni0146</string>
				<string>Ncaron</string>
				<string>ncaron</string>
				<string>Omacron</string>
				<string>omacron</string>
				<string>Ohungarumlaut</string>
				<string>ohungarumlaut</string>
				<string>OE</string>
				<string>oe</string>
				<string>Racute</string>
				<string>racute</string>
				<string>uni0156</string>
				<string>uni0157</string>
				<string>Rcaron</string>
				<string>rcaron</string>
				<string>Sacute</string>
				<string>sacute</string>
				<string>uni015E</string>
				<string>uni015F</string>
				<string>Scaron</string>
				<string>scaron</string>
				<string>uni0162</string>
				<string>uni0163</string>
				<string>Tcaron</string>
				<string>tcaron</string>
				<string>Umacron</string>
				<string>umacron</string>
				<string>Uring</string>
				<string>uring</string>
				<string>Uhungarumlaut</string>
				<string>uhungarumlaut</string>
				<string>Uogonek</string>
				<string>uogonek</string>
				<string>Ydieresis</string>
				<string>Zacute</string>
				<string>zacute</string>
				<string>Zdotaccent</string>
				<string>zdotaccent</string>
				<string>Zcaron</string>
				<string>zcaron</string>
				<string>florin</string>
				<string>uni0218</string>
				<string>uni0219</string>
				<string>uni021A</string>
				<string>uni021B</string>
				<string>circumflex</string>
				<string>caron</string>
				<string>uni02C9</string>
				<string>breve</string>
				<string>dotaccent</string>
				<string>ring</string>
				<string>ogonek</string>
				<string>tilde</string>
				<string>hungarumlaut</string>
				<string>pi</string>
				<string>endash</string>
				<string>emdash</string>
				<string>quoteleft</string>
				<string>quoteright</string>
				<string>quotesinglbase</string>
				<string>quotedblleft</string>
				<string>quotedblright</string>
				<string>quotedblbase</string>
				<string>dagger</string>
				<string>daggerdbl</string>
				<string>bullet</string>
				<string>ellipsis</string>
				<string>perthousand</string>
				<string>guilsinglleft</string>
				<string>guilsinglright</string>
				<string>fraction</string>
				<string>Euro</string>
				<string>uni20BA</string>
				<string>uni20BD</string>
				<string>uni2113</string>
				<string>trademark</string>
				<string>uni2126</string>
				<string>partialdiff</string>
				<string>uni2206</string>
				<string>product</string>
				<string>summation</string>
				<string>minus</string>
				<string>uni2215</string>
				<string>uni2219</string>
				<string>radical</string>
				<string>infinity</string>
				<string>integral</string>
				<string>approxequal</string>
				<string>notequal</string>
				<string>lessequal</string>
				<string>greaterequal</string>
				<string>lozenge</string>
				<string>fi</string>
				<string>fl</string>
				<string>ringcmb.cap</string>
				<string>dotaccentcmb.cap</string>
				<string>cedillacmb</string>
				<string>hungarumlautcmb</string>
				<string>dotaccentcmb</string>
				<string>gravecmb</string>
				<string>caroncmb</string>
				<string>macroncmb.cap</string>
				<string>ogonekcmb</string>
				<string>commaaccentcmb</string>
				<string>caroncmb.cap</string>
				<string>gravecmb.cap</string>
				<string>brevecmb</string>
				<string>dieresiscmb.cap</string>
				<string>circumflexcmb</string>
				<string>brevecmb.cap</string>
				<string>macroncmb</string>
				<string>acutecmb</string>
				<string>hungarumlautcmb.cap</string>
				<string>circumflexcmb.cap</string>
				<string>commaaccent</string>
				<string>dieresiscmb</string>
				<string>hungarianumlautcmb.cap</string>
				<string>acutecmb.cap</string>
				<string>tildecmb.cap</string>
				<string>tildecmb</string>
				<string>ringcmb</string>
				<string>ethslash</string>
			</array>
			<key>type</key>
			<string>glyphList</string>
		</dict>
	</array>
	<key>com.typemytype.robofont.wire.layerStrokeColor</key>
	<array>
		<integer>1</integer>
		<integer>0</integer>
		<integer>0</integer>
		<real>0.7</real>
	</array>
	<key>com.typesupply.MetricsMachine4.groupColors</key>
	<dict>
		<key>@MMK_L_A</key>
		<array>
			<integer>1</integer>
			<integer>0</integer>
			<integer>0</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_L_C</key>
		<array>
			<integer>1</integer>
			<real>0.5</real>
			<integer>0</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_L_E</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>0</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_L_K</key>
		<array>
			<integer>0</integer>
			<integer>1</integer>
			<integer>0</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_L_L</key>
		<array>
			<integer>0</integer>
			<integer>1</integer>
			<integer>1</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_L_O</key>
		<array>
			<integer>0</integer>
			<real>0.5</real>
			<integer>1</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_L_P</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>1</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_L_R</key>
		<array>
			<real>0.5</real>
			<integer>0</integer>
			<integer>1</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_L_S</key>
		<array>
			<integer>1</integer>
			<integer>0</integer>
			<integer>1</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_L_T</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>1</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_L_U</key>
		<array>
			<integer>1</integer>
			<integer>0</integer>
			<real>0.5</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_Y</key>
		<array>
			<integer>1</integer>
			<integer>0</integer>
			<integer>0</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_L_a</key>
		<array>
			<integer>1</integer>
			<real>0.5</real>
			<integer>0</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_L_asterisk</key>
		<array>
			<real>0.5</real>
			<integer>0</integer>
			<integer>1</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_L_c</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>0</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_L_exclam</key>
		<array>
			<integer>1</integer>
			<integer>0</integer>
			<integer>1</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_L_hyphen</key>
		<array>
			<integer>0</integer>
			<integer>1</integer>
			<integer>1</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_L_k</key>
		<array>
			<integer>0</integer>
			<real>0.5</real>
			<integer>1</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_L_knBHA</key>
		<array>
			<integer>0</integer>
			<integer>1</integer>
			<integer>1</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_L_knCA</key>
		<array>
			<integer>0</integer>
			<integer>1</integer>
			<integer>0</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_L_knCHA</key>
		<array>
			<integer>1</integer>
			<integer>0</integer>
			<real>0.5</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_knDA</key>
		<array>
			<integer>0</integer>
			<integer>1</integer>
			<integer>1</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_L_knGA</key>
		<array>
			<integer>0</integer>
			<real>0.5</real>
			<integer>1</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_L_knGHA</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>1</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_L_knHA</key>
		<array>
			<real>0.5</real>
			<integer>0</integer>
			<integer>1</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_L_knJA</key>
		<array>
			<integer>1</integer>
			<integer>0</integer>
			<integer>1</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_L_knKA</key>
		<array>
			<real>0.5</real>
			<integer>0</integer>
			<integer>1</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_L_knKHA</key>
		<array>
			<integer>1</integer>
			<integer>0</integer>
			<integer>0</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_L_knLA</key>
		<array>
			<integer>1</integer>
			<integer>0</integer>
			<integer>1</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_L_knLLA</key>
		<array>
			<integer>1</integer>
			<integer>0</integer>
			<real>0.5</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_knNA</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>0</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_L_knNNA</key>
		<array>
			<integer>1</integer>
			<real>0.5</real>
			<integer>0</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_L_knNYA</key>
		<array>
			<integer>1</integer>
			<integer>0</integer>
			<integer>0</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_L_knPA</key>
		<array>
			<integer>0</integer>
			<integer>1</integer>
			<integer>0</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_L_knPI</key>
		<array>
			<integer>1</integer>
			<integer>0</integer>
			<integer>0</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_L_knRA</key>
		<array>
			<integer>1</integer>
			<real>0.5</real>
			<integer>0</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_L_knSA</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>1</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_L_knSHA</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>0</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_L_knSSA</key>
		<array>
			<integer>0</integer>
			<integer>1</integer>
			<integer>0</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_L_knSub</key>
		<array>
			<integer>0</integer>
			<integer>1</integer>
			<integer>1</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_L_knSubTall</key>
		<array>
			<integer>0</integer>
			<real>0.5</real>
			<integer>1</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_L_knSubfollowing</key>
		<array>
			<integer>1</integer>
			<integer>0</integer>
			<real>0.5</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_knTA</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>1</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_L_knTTA</key>
		<array>
			<integer>0</integer>
			<real>0.5</real>
			<integer>1</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_L_knVA</key>
		<array>
			<integer>1</integer>
			<integer>0</integer>
			<real>0.5</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_knsignAA</key>
		<array>
			<integer>0</integer>
			<real>0.5</real>
			<integer>1</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_L_knsignAU</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>1</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_L_knsignEIvariants</key>
		<array>
			<integer>1</integer>
			<integer>0</integer>
			<integer>1</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_L_knsignU</key>
		<array>
			<integer>0</integer>
			<integer>1</integer>
			<integer>0</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_L_knsignUU</key>
		<array>
			<integer>0</integer>
			<integer>1</integer>
			<integer>1</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_L_knsignUlow</key>
		<array>
			<real>0.5</real>
			<integer>0</integer>
			<integer>1</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_L_knsignVirama</key>
		<array>
			<real>0.5</real>
			<integer>0</integer>
			<integer>1</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_L_o</key>
		<array>
			<integer>1</integer>
			<integer>0</integer>
			<integer>1</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_L_parenleft</key>
		<array>
			<integer>0</integer>
			<integer>1</integer>
			<integer>0</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_L_period</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>0</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_L_quoteleft</key>
		<array>
			<integer>1</integer>
			<real>0.5</real>
			<integer>0</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_L_quoteright</key>
		<array>
			<integer>1</integer>
			<integer>0</integer>
			<integer>0</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_L_r</key>
		<array>
			<integer>1</integer>
			<integer>0</integer>
			<real>0.5</real>
			<real>0.25</real>
		</array>
		<key>@MMK_L_t</key>
		<array>
			<integer>1</integer>
			<integer>0</integer>
			<integer>0</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_L_y</key>
		<array>
			<integer>1</integer>
			<real>0.5</real>
			<integer>0</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_L_z</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>0</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_R_A</key>
		<array>
			<integer>1</integer>
			<integer>0</integer>
			<integer>0</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_R_O</key>
		<array>
			<integer>1</integer>
			<real>0.5</real>
			<integer>0</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_R_S</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>0</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_R_T</key>
		<array>
			<integer>0</integer>
			<integer>1</integer>
			<integer>0</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_R_U</key>
		<array>
			<integer>0</integer>
			<integer>1</integer>
			<integer>1</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_R_Y</key>
		<array>
			<integer>0</integer>
			<real>0.5</real>
			<integer>1</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_R_Z</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>1</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_R_a</key>
		<array>
			<real>0.5</real>
			<integer>0</integer>
			<integer>1</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_R_asterisk</key>
		<array>
			<integer>1</integer>
			<real>0.5</real>
			<integer>0</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_R_exclam</key>
		<array>
			<integer>0</integer>
			<integer>1</integer>
			<integer>0</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_R_f</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>0</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_R_hyphen</key>
		<array>
			<integer>1</integer>
			<integer>0</integer>
			<integer>0</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_R_knBA</key>
		<array>
			<integer>1</integer>
			<integer>0</integer>
			<integer>1</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_R_knDA</key>
		<array>
			<integer>1</integer>
			<integer>0</integer>
			<real>0.5</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_knE</key>
		<array>
			<integer>1</integer>
			<real>0.5</real>
			<integer>0</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_R_knGA</key>
		<array>
			<integer>0</integer>
			<real>0.5</real>
			<integer>1</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_R_knHA</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>1</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_R_knKA</key>
		<array>
			<integer>1</integer>
			<integer>0</integer>
			<integer>0</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_R_knKAc2</key>
		<array>
			<integer>1</integer>
			<real>0.5</real>
			<integer>0</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_R_knKHA</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>0</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_R_knLA</key>
		<array>
			<integer>0</integer>
			<integer>1</integer>
			<integer>0</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_R_knLLA</key>
		<array>
			<integer>0</integer>
			<integer>1</integer>
			<integer>1</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_R_knNA</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>0</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_R_knNYA</key>
		<array>
			<integer>0</integer>
			<real>0.5</real>
			<integer>1</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_R_knPA</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>1</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_R_knPI</key>
		<array>
			<integer>0</integer>
			<integer>1</integer>
			<integer>1</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_R_knRA</key>
		<array>
			<real>0.5</real>
			<integer>0</integer>
			<integer>1</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_R_knRRA</key>
		<array>
			<integer>0</integer>
			<integer>1</integer>
			<integer>1</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_R_knSHA</key>
		<array>
			<integer>1</integer>
			<integer>0</integer>
			<integer>1</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_R_knSubs</key>
		<array>
			<integer>1</integer>
			<integer>0</integer>
			<real>0.5</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_knSubsfollow</key>
		<array>
			<integer>1</integer>
			<integer>0</integer>
			<integer>0</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_R_knTA</key>
		<array>
			<integer>0</integer>
			<integer>1</integer>
			<integer>0</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_R_knTTA</key>
		<array>
			<integer>1</integer>
			<integer>0</integer>
			<integer>0</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_R_knVA</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>0</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_R_knYA</key>
		<array>
			<integer>0</integer>
			<integer>1</integer>
			<integer>0</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_R_o</key>
		<array>
			<integer>0</integer>
			<integer>1</integer>
			<integer>1</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_R_parenright</key>
		<array>
			<integer>1</integer>
			<integer>0</integer>
			<real>0.5</real>
			<real>0.25</real>
		</array>
		<key>@MMK_R_period</key>
		<array>
			<integer>1</integer>
			<integer>0</integer>
			<integer>1</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_R_quoteleft</key>
		<array>
			<real>0.5</real>
			<integer>0</integer>
			<integer>1</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_R_quoteright</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>1</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_R_r</key>
		<array>
			<integer>0</integer>
			<real>0.5</real>
			<integer>1</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_R_s</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>1</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_R_t</key>
		<array>
			<real>0.5</real>
			<integer>0</integer>
			<integer>1</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_R_y</key>
		<array>
			<integer>1</integer>
			<integer>0</integer>
			<integer>1</integer>
			<real>0.25</real>
		</array>
		<key>@MMK_R_z</key>
		<array>
			<integer>1</integer>
			<integer>0</integer>
			<real>0.5</real>
			<real>0.25</real>
		</array>
	</dict>
	<key>public.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>space</string>
		<string>indianrupee</string>
		<string>exclam</string>
		<string>quotedbl</string>
		<string>numbersign</string>
		<string>dollar</string>
		<string>percent</string>
		<string>ampersand</string>
		<string>quotesingle</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>asterisk</string>
		<string>plus</string>
		<string>comma</string>
		<string>hyphen</string>
		<string>period</string>
		<string>slash</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>less</string>
		<string>equal</string>
		<string>greater</string>
		<string>question</string>
		<string>at</string>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>bracketleft</string>
		<string>backslash</string>
		<string>bracketright</string>
		<string>asciicircum</string>
		<string>underscore</string>
		<string>grave</string>
		<string>a</string>
		<string>b</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
		<string>braceleft</string>
		<string>bar</string>
		<string>braceright</string>
		<string>asciitilde</string>
		<string>uni00A0</string>
		<string>exclamdown</string>
		<string>cent</string>
		<string>sterling</string>
		<string>currency</string>
		<string>yen</string>
		<string>brokenbar</string>
		<string>section</string>
		<string>dieresis</string>
		<string>copyright</string>
		<string>ordfeminine</string>
		<string>guillemotleft</string>
		<string>logicalnot</string>
		<string>uni00AD</string>
		<string>registered</string>
		<string>macron</string>
		<string>degree</string>
		<string>plusminus</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>acute</string>
		<string>uni00B5</string>
		<string>paragraph</string>
		<string>periodcentered</string>
		<string>cedilla</string>
		<string>onesuperior</string>
		<string>ordmasculine</string>
		<string>guillemotright</string>
		<string>onequarter</string>
		<string>onehalf</string>
		<string>threequarters</string>
		<string>questiondown</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Aring</string>
		<string>AE</string>
		<string>Ccedilla</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Eth</string>
		<string>Ntilde</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>multiply</string>
		<string>Oslash</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Yacute</string>
		<string>Thorn</string>
		<string>germandbls</string>
		<string>agrave</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>atilde</string>
		<string>adieresis</string>
		<string>aring</string>
		<string>ae</string>
		<string>ccedilla</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>igrave</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>eth</string>
		<string>ntilde</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>divide</string>
		<string>oslash</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>yacute</string>
		<string>thorn</string>
		<string>ydieresis</string>
		<string>Amacron</string>
		<string>amacron</string>
		<string>Abreve</string>
		<string>abreve</string>
		<string>Aogonek</string>
		<string>aogonek</string>
		<string>Cacute</string>
		<string>cacute</string>
		<string>Ccaron</string>
		<string>ccaron</string>
		<string>Dcaron</string>
		<string>dcaron</string>
		<string>Dcroat</string>
		<string>dcroat</string>
		<string>Emacron</string>
		<string>emacron</string>
		<string>Edotaccent</string>
		<string>edotaccent</string>
		<string>Eogonek</string>
		<string>eogonek</string>
		<string>Ecaron</string>
		<string>ecaron</string>
		<string>Gbreve</string>
		<string>gbreve</string>
		<string>uni0122</string>
		<string>uni0123</string>
		<string>Imacron</string>
		<string>imacron</string>
		<string>Iogonek</string>
		<string>iogonek</string>
		<string>Idotaccent</string>
		<string>dotlessi</string>
		<string>uni0136</string>
		<string>uni0137</string>
		<string>Lacute</string>
		<string>lacute</string>
		<string>uni013B</string>
		<string>uni013C</string>
		<string>Lcaron</string>
		<string>lcaron</string>
		<string>Lslash</string>
		<string>lslash</string>
		<string>Nacute</string>
		<string>nacute</string>
		<string>uni0145</string>
		<string>uni0146</string>
		<string>Ncaron</string>
		<string>ncaron</string>
		<string>Omacron</string>
		<string>omacron</string>
		<string>Ohungarumlaut</string>
		<string>ohungarumlaut</string>
		<string>OE</string>
		<string>oe</string>
		<string>Racute</string>
		<string>racute</string>
		<string>uni0156</string>
		<string>uni0157</string>
		<string>Rcaron</string>
		<string>rcaron</string>
		<string>Sacute</string>
		<string>sacute</string>
		<string>uni015E</string>
		<string>uni015F</string>
		<string>Scaron</string>
		<string>scaron</string>
		<string>uni0162</string>
		<string>uni0163</string>
		<string>Tcaron</string>
		<string>tcaron</string>
		<string>Umacron</string>
		<string>umacron</string>
		<string>Uring</string>
		<string>uring</string>
		<string>Uhungarumlaut</string>
		<string>uhungarumlaut</string>
		<string>Uogonek</string>
		<string>uogonek</string>
		<string>Ydieresis</string>
		<string>Zacute</string>
		<string>zacute</string>
		<string>Zdotaccent</string>
		<string>zdotaccent</string>
		<string>Zcaron</string>
		<string>zcaron</string>
		<string>florin</string>
		<string>uni0218</string>
		<string>uni0219</string>
		<string>uni021A</string>
		<string>uni021B</string>
		<string>circumflex</string>
		<string>caron</string>
		<string>uni02C9</string>
		<string>breve</string>
		<string>dotaccent</string>
		<string>ring</string>
		<string>ogonek</string>
		<string>tilde</string>
		<string>hungarumlaut</string>
		<string>pi</string>
		<string>endash</string>
		<string>emdash</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotesinglbase</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quotedblbase</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>bullet</string>
		<string>ellipsis</string>
		<string>perthousand</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>fraction</string>
		<string>Euro</string>
		<string>uni20BA</string>
		<string>uni20BD</string>
		<string>uni2113</string>
		<string>trademark</string>
		<string>uni2126</string>
		<string>partialdiff</string>
		<string>uni2206</string>
		<string>product</string>
		<string>summation</string>
		<string>minus</string>
		<string>uni2215</string>
		<string>uni2219</string>
		<string>radical</string>
		<string>infinity</string>
		<string>integral</string>
		<string>approxequal</string>
		<string>notequal</string>
		<string>lessequal</string>
		<string>greaterequal</string>
		<string>lozenge</string>
		<string>fi</string>
		<string>fl</string>
		<string>cedillacmb</string>
		<string>hungarumlautcmb</string>
		<string>dotaccentcmb</string>
		<string>gravecmb</string>
		<string>caroncmb</string>
		<string>ogonekcmb</string>
		<string>commaaccentcmb</string>
		<string>brevecmb</string>
		<string>circumflexcmb</string>
		<string>macroncmb</string>
		<string>acutecmb</string>
		<string>commaaccent</string>
		<string>dieresiscmb</string>
		<string>tildecmb</string>
		<string>ringcmb</string>
		<string>ethslash</string>
		<string>mu</string>
		<string>dieresiscmb.case</string>
		<string>dotaccentcmb.case</string>
		<string>gravecmb.case</string>
		<string>acutecmb.case</string>
		<string>hungarumlautcmb.case</string>
		<string>circumflexcmb.case</string>
		<string>caroncmb.case</string>
		<string>brevecmb.case</string>
		<string>ringcmb.case</string>
		<string>tildecmb.case</string>
		<string>macroncmb.case</string>
		<string>hungarianumlautcmb.case</string>
	</array>
</dict>
</plist>
