<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>A</key>
	<string>A_.glif</string>
	<key>AE</key>
	<string>A_E_.glif</string>
	<key>Aacute</key>
	<string>A_acute.glif</string>
	<key>Abreve</key>
	<string>A_breve.glif</string>
	<key>Acircumflex</key>
	<string>A_circumflex.glif</string>
	<key>Adieresis</key>
	<string>A_dieresis.glif</string>
	<key>Agrave</key>
	<string>A_grave.glif</string>
	<key>Amacron</key>
	<string>A_macron.glif</string>
	<key>Aogonek</key>
	<string>A_ogonek.glif</string>
	<key>Aring</key>
	<string>A_ring.glif</string>
	<key>Atilde</key>
	<string>A_tilde.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>BASE</key>
	<string>B_A_S_E_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>CR</key>
	<string>C_R_.glif</string>
	<key>Cacute</key>
	<string>C_acute.glif</string>
	<key>Ccaron</key>
	<string>C_caron.glif</string>
	<key>Ccedilla</key>
	<string>C_cedilla.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>Danda</key>
	<string>D_anda.glif</string>
	<key>Dcaron</key>
	<string>D_caron.glif</string>
	<key>Dcroat</key>
	<string>D_croat.glif</string>
	<key>DoubleDanda</key>
	<string>D_oubleD_anda.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>Eacute</key>
	<string>E_acute.glif</string>
	<key>Ecaron</key>
	<string>E_caron.glif</string>
	<key>Ecircumflex</key>
	<string>E_circumflex.glif</string>
	<key>Edieresis</key>
	<string>E_dieresis.glif</string>
	<key>Edotaccent</key>
	<string>E_dotaccent.glif</string>
	<key>Egrave</key>
	<string>E_grave.glif</string>
	<key>Emacron</key>
	<string>E_macron.glif</string>
	<key>Eogonek</key>
	<string>E_ogonek.glif</string>
	<key>Eth</key>
	<string>E_th.glif</string>
	<key>Euro</key>
	<string>E_uro.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>Gbreve</key>
	<string>G_breve.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>Iacute</key>
	<string>I_acute.glif</string>
	<key>Icircumflex</key>
	<string>I_circumflex.glif</string>
	<key>Idieresis</key>
	<string>I_dieresis.glif</string>
	<key>Idotaccent</key>
	<string>I_dotaccent.glif</string>
	<key>Igrave</key>
	<string>I_grave.glif</string>
	<key>Imacron</key>
	<string>I_macron.glif</string>
	<key>Iogonek</key>
	<string>I_ogonek.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>Lacute</key>
	<string>L_acute.glif</string>
	<key>Lcaron</key>
	<string>L_caron.glif</string>
	<key>Lslash</key>
	<string>L_slash.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>NULL</key>
	<string>N_U_L_L_.glif</string>
	<key>Nacute</key>
	<string>N_acute.glif</string>
	<key>Ncaron</key>
	<string>N_caron.glif</string>
	<key>Ntilde</key>
	<string>N_tilde.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>OE</key>
	<string>O_E_.glif</string>
	<key>Oacute</key>
	<string>O_acute.glif</string>
	<key>Ocircumflex</key>
	<string>O_circumflex.glif</string>
	<key>Odieresis</key>
	<string>O_dieresis.glif</string>
	<key>Ograve</key>
	<string>O_grave.glif</string>
	<key>Ohungarumlaut</key>
	<string>O_hungarumlaut.glif</string>
	<key>Omacron</key>
	<string>O_macron.glif</string>
	<key>Oslash</key>
	<string>O_slash.glif</string>
	<key>Otilde</key>
	<string>O_tilde.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>Racute</key>
	<string>R_acute.glif</string>
	<key>Rcaron</key>
	<string>R_caron.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>Sacute</key>
	<string>S_acute.glif</string>
	<key>Scaron</key>
	<string>S_caron.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>Tcaron</key>
	<string>T_caron.glif</string>
	<key>Thorn</key>
	<string>T_horn.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>Uacute</key>
	<string>U_acute.glif</string>
	<key>Ucircumflex</key>
	<string>U_circumflex.glif</string>
	<key>Udieresis</key>
	<string>U_dieresis.glif</string>
	<key>Ugrave</key>
	<string>U_grave.glif</string>
	<key>Uhungarumlaut</key>
	<string>U_hungarumlaut.glif</string>
	<key>Umacron</key>
	<string>U_macron.glif</string>
	<key>Uogonek</key>
	<string>U_ogonek.glif</string>
	<key>Uring</key>
	<string>U_ring.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Yacute</key>
	<string>Y_acute.glif</string>
	<key>Ydieresis</key>
	<string>Y_dieresis.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>ZWJ</key>
	<string>Z_W_J_.glif</string>
	<key>ZWNJ</key>
	<string>Z_W_N_J_.glif</string>
	<key>Zacute</key>
	<string>Z_acute.glif</string>
	<key>Zcaron</key>
	<string>Z_caron.glif</string>
	<key>Zdotaccent</key>
	<string>Z_dotaccent.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>aacute</key>
	<string>aacute.glif</string>
	<key>abreve</key>
	<string>abreve.glif</string>
	<key>acircumflex</key>
	<string>acircumflex.glif</string>
	<key>acute</key>
	<string>acute.glif</string>
	<key>adieresis</key>
	<string>adieresis.glif</string>
	<key>ae</key>
	<string>ae.glif</string>
	<key>agrave</key>
	<string>agrave.glif</string>
	<key>amacron</key>
	<string>amacron.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>aogonek</key>
	<string>aogonek.glif</string>
	<key>approxequal</key>
	<string>approxequal.glif</string>
	<key>aring</key>
	<string>aring.glif</string>
	<key>asciicircum</key>
	<string>asciicircum.glif</string>
	<key>asciitilde</key>
	<string>asciitilde.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>atilde</key>
	<string>atilde.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>bA</key>
	<string>bA_.glif</string>
	<key>bAa</key>
	<string>bA_a.glif</string>
	<key>bAi</key>
	<string>bA_i.glif</string>
	<key>bAnusvara</key>
	<string>bA_nusvara.glif</string>
	<key>bAu</key>
	<string>bA_u.glif</string>
	<key>bAuMark</key>
	<string>bA_uM_ark.glif</string>
	<key>bAuMarkReph</key>
	<string>bA_uM_arkR_eph.glif</string>
	<key>bAvagraha</key>
	<string>bA_vagraha.glif</string>
	<key>bBBa</key>
	<string>bB_B_a.glif</string>
	<key>bBBha</key>
	<string>bB_B_ha.glif</string>
	<key>bBDRa</key>
	<string>bB_D_R_a.glif</string>
	<key>bBDa</key>
	<string>bB_D_a.glif</string>
	<key>bBDda</key>
	<string>bB_D_da.glif</string>
	<key>bBDdha</key>
	<string>bB_D_dha.glif</string>
	<key>bBDha</key>
	<string>bB_D_ha.glif</string>
	<key>bBJa</key>
	<string>bB_J_a.glif</string>
	<key>bBJha</key>
	<string>bB_J_ha.glif</string>
	<key>bBLa</key>
	<string>bB_L_a.glif</string>
	<key>bBRa</key>
	<string>bB_R_a.glif</string>
	<key>bBRa_bSignU</key>
	<string>bB_R_a_bS_ignU_.glif</string>
	<key>bBRa_bSignUu</key>
	<string>bB_R_a_bS_ignU_u.glif</string>
	<key>bBa</key>
	<string>bB_a.glif</string>
	<key>bBaphala</key>
	<string>bB_aphala.glif</string>
	<key>bBhBa</key>
	<string>bB_hB_a.glif</string>
	<key>bBhLa</key>
	<string>bB_hL_a.glif</string>
	<key>bBhRa</key>
	<string>bB_hR_a.glif</string>
	<key>bBhRa_bSignU</key>
	<string>bB_hR_a_bS_ignU_.glif</string>
	<key>bBhRa_bSignUu</key>
	<string>bB_hR_a_bS_ignU_u.glif</string>
	<key>bBha</key>
	<string>bB_ha.glif</string>
	<key>bCBa</key>
	<string>bC_B_a.glif</string>
	<key>bCCa</key>
	<string>bC_C_a.glif</string>
	<key>bCChBa</key>
	<string>bC_C_hB_a.glif</string>
	<key>bCChRa</key>
	<string>bC_C_hR_a.glif</string>
	<key>bCCha</key>
	<string>bC_C_ha.glif</string>
	<key>bCNa</key>
	<string>bC_N_a.glif</string>
	<key>bCNya</key>
	<string>bC_N_ya.glif</string>
	<key>bCRa</key>
	<string>bC_R_a.glif</string>
	<key>bCa</key>
	<string>bC_a.glif</string>
	<key>bCandrabindu</key>
	<string>bC_andrabindu.glif</string>
	<key>bChBa</key>
	<string>bC_hB_a.glif</string>
	<key>bChRa</key>
	<string>bC_hR_a.glif</string>
	<key>bCha</key>
	<string>bC_ha.glif</string>
	<key>bDBa</key>
	<string>bD_B_a.glif</string>
	<key>bDBhRa</key>
	<string>bD_B_hR_a.glif</string>
	<key>bDBha</key>
	<string>bD_B_ha.glif</string>
	<key>bDDBa</key>
	<string>bD_D_B_a.glif</string>
	<key>bDDRa</key>
	<string>bD_D_R_a.glif</string>
	<key>bDDa</key>
	<string>bD_D_a.glif</string>
	<key>bDDhBa</key>
	<string>bD_D_hB_a.glif</string>
	<key>bDDha</key>
	<string>bD_D_ha.glif</string>
	<key>bDGa</key>
	<string>bD_G_a.glif</string>
	<key>bDGha</key>
	<string>bD_G_ha.glif</string>
	<key>bDMa</key>
	<string>bD_M_a.glif</string>
	<key>bDNa</key>
	<string>bD_N_a.glif</string>
	<key>bDRa</key>
	<string>bD_R_a.glif</string>
	<key>bDRa_bSignU</key>
	<string>bD_R_a_bS_ignU_.glif</string>
	<key>bDRa_bSignUu</key>
	<string>bD_R_a_bS_ignU_u.glif</string>
	<key>bDa</key>
	<string>bD_a.glif</string>
	<key>bDandaPoetic</key>
	<string>bD_andaP_oetic.glif</string>
	<key>bDdBa</key>
	<string>bD_dB_a.glif</string>
	<key>bDdDda</key>
	<string>bD_dD_da.glif</string>
	<key>bDdGa</key>
	<string>bD_dG_a.glif</string>
	<key>bDdMa</key>
	<string>bD_dM_a.glif</string>
	<key>bDdRa</key>
	<string>bD_dR_a.glif</string>
	<key>bDda</key>
	<string>bD_da.glif</string>
	<key>bDdhRa</key>
	<string>bD_dhR_a.glif</string>
	<key>bDdha</key>
	<string>bD_dha.glif</string>
	<key>bDhBa</key>
	<string>bD_hB_a.glif</string>
	<key>bDhMa</key>
	<string>bD_hM_a.glif</string>
	<key>bDhNa</key>
	<string>bD_hN_a.glif</string>
	<key>bDhRa</key>
	<string>bD_hR_a.glif</string>
	<key>bDhRa_bSignU</key>
	<string>bD_hR_a_bS_ignU_.glif</string>
	<key>bDhRa_bSignUu</key>
	<string>bD_hR_a_bS_ignU_u.glif</string>
	<key>bDha</key>
	<string>bD_ha.glif</string>
	<key>bDoubleDandaPoetic</key>
	<string>bD_oubleD_andaP_oetic.glif</string>
	<key>bE</key>
	<string>bE_.glif</string>
	<key>bEight</key>
	<string>bE_ight.glif</string>
	<key>bFive</key>
	<string>bF_ive.glif</string>
	<key>bFour</key>
	<string>bF_our.glif</string>
	<key>bGBa</key>
	<string>bG_B_a.glif</string>
	<key>bGDa</key>
	<string>bG_D_a.glif</string>
	<key>bGDhBa</key>
	<string>bG_D_hB_a.glif</string>
	<key>bGDhRa</key>
	<string>bG_D_hR_a.glif</string>
	<key>bGDha</key>
	<string>bG_D_ha.glif</string>
	<key>bGGa</key>
	<string>bG_G_a.glif</string>
	<key>bGLa</key>
	<string>bG_L_a.glif</string>
	<key>bGMa</key>
	<string>bG_M_a.glif</string>
	<key>bGNa</key>
	<string>bG_N_a.glif</string>
	<key>bGRa</key>
	<string>bG_R_a.glif</string>
	<key>bGRa_bSignU</key>
	<string>bG_R_a_bS_ignU_.glif</string>
	<key>bGRa_bSignUu</key>
	<string>bG_R_a_bS_ignU_u.glif</string>
	<key>bGa</key>
	<string>bG_a.glif</string>
	<key>bGa_bSignU</key>
	<string>bG_a_bS_ignU_.glif</string>
	<key>bGhBa</key>
	<string>bG_hB_a.glif</string>
	<key>bGhNa</key>
	<string>bG_hN_a.glif</string>
	<key>bGhRa</key>
	<string>bG_hR_a.glif</string>
	<key>bGha</key>
	<string>bG_ha.glif</string>
	<key>bHBa</key>
	<string>bH_B_a.glif</string>
	<key>bHLa</key>
	<string>bH_L_a.glif</string>
	<key>bHMa</key>
	<string>bH_M_a.glif</string>
	<key>bHNa</key>
	<string>bH_N_a.glif</string>
	<key>bHNna</key>
	<string>bH_N_na.glif</string>
	<key>bHRa</key>
	<string>bH_R_a.glif</string>
	<key>bHa</key>
	<string>bH_a.glif</string>
	<key>bHa_bSignU</key>
	<string>bH_a_bS_ignU_.glif</string>
	<key>bHa_bSignVocalicR</key>
	<string>bH_a_bS_ignV_ocalicR_.glif</string>
	<key>bI</key>
	<string>bI_.glif</string>
	<key>bIi</key>
	<string>bI_i.glif</string>
	<key>bIsshar</key>
	<string>bI_sshar.glif</string>
	<key>bJBa</key>
	<string>bJ_B_a.glif</string>
	<key>bJJBa</key>
	<string>bJ_J_B_a.glif</string>
	<key>bJJa</key>
	<string>bJ_J_a.glif</string>
	<key>bJJha</key>
	<string>bJ_J_ha.glif</string>
	<key>bJNya</key>
	<string>bJ_N_ya.glif</string>
	<key>bJRa</key>
	<string>bJ_R_a.glif</string>
	<key>bJa</key>
	<string>bJ_a.glif</string>
	<key>bJhRa</key>
	<string>bJ_hR_a.glif</string>
	<key>bJha</key>
	<string>bJ_ha.glif</string>
	<key>bKBa</key>
	<string>bK_B_a.glif</string>
	<key>bKKa</key>
	<string>bK_K_a.glif</string>
	<key>bKLa</key>
	<string>bK_L_a.glif</string>
	<key>bKMa</key>
	<string>bK_M_a.glif</string>
	<key>bKNa</key>
	<string>bK_N_a.glif</string>
	<key>bKRa</key>
	<string>bK_R_a.glif</string>
	<key>bKSa</key>
	<string>bK_S_a.glif</string>
	<key>bKSsBa</key>
	<string>bK_S_sB_a.glif</string>
	<key>bKSsMa</key>
	<string>bK_S_sM_a.glif</string>
	<key>bKSsNna</key>
	<string>bK_S_sN_na.glif</string>
	<key>bKSsRa</key>
	<string>bK_S_sR_a.glif</string>
	<key>bKSsa</key>
	<string>bK_S_sa.glif</string>
	<key>bKTBa</key>
	<string>bK_T_B_a.glif</string>
	<key>bKTRa</key>
	<string>bK_T_R_a.glif</string>
	<key>bKTa</key>
	<string>bK_T_a.glif</string>
	<key>bKTtRa</key>
	<string>bK_T_tR_a.glif</string>
	<key>bKTta</key>
	<string>bK_T_ta.glif</string>
	<key>bKa</key>
	<string>bK_a.glif</string>
	<key>bKhBa</key>
	<string>bK_hB_a.glif</string>
	<key>bKhRa</key>
	<string>bK_hR_a.glif</string>
	<key>bKha</key>
	<string>bK_ha.glif</string>
	<key>bKhandTa</key>
	<string>bK_handT_a.glif</string>
	<key>bLBa</key>
	<string>bL_B_a.glif</string>
	<key>bLDa</key>
	<string>bL_D_a.glif</string>
	<key>bLDdRa</key>
	<string>bL_D_dR_a.glif</string>
	<key>bLDda</key>
	<string>bL_D_da.glif</string>
	<key>bLDdha</key>
	<string>bL_D_dha.glif</string>
	<key>bLGa</key>
	<string>bL_G_a.glif</string>
	<key>bLGa_bSignU</key>
	<string>bL_G_a_bS_ignU_.glif</string>
	<key>bLGha</key>
	<string>bL_G_ha.glif</string>
	<key>bLKa</key>
	<string>bL_K_a.glif</string>
	<key>bLLa</key>
	<string>bL_L_a.glif</string>
	<key>bLMa</key>
	<string>bL_M_a.glif</string>
	<key>bLPa</key>
	<string>bL_P_a.glif</string>
	<key>bLPha</key>
	<string>bL_P_ha.glif</string>
	<key>bLRa</key>
	<string>bL_R_a.glif</string>
	<key>bLSa</key>
	<string>bL_S_a.glif</string>
	<key>bLTtRa</key>
	<string>bL_T_tR_a.glif</string>
	<key>bLTta</key>
	<string>bL_T_ta.glif</string>
	<key>bLa</key>
	<string>bL_a.glif</string>
	<key>bMBa</key>
	<string>bM_B_a.glif</string>
	<key>bMBhRa</key>
	<string>bM_B_hR_a.glif</string>
	<key>bMBha</key>
	<string>bM_B_ha.glif</string>
	<key>bMDa</key>
	<string>bM_D_a.glif</string>
	<key>bMLa</key>
	<string>bM_L_a.glif</string>
	<key>bMMa</key>
	<string>bM_M_a.glif</string>
	<key>bMNa</key>
	<string>bM_N_a.glif</string>
	<key>bMPRa</key>
	<string>bM_P_R_a.glif</string>
	<key>bMPa</key>
	<string>bM_P_a.glif</string>
	<key>bMPhRa</key>
	<string>bM_P_hR_a.glif</string>
	<key>bMPha</key>
	<string>bM_P_ha.glif</string>
	<key>bMRa</key>
	<string>bM_R_a.glif</string>
	<key>bMTa</key>
	<string>bM_T_a.glif</string>
	<key>bMa</key>
	<string>bM_a.glif</string>
	<key>bNBa</key>
	<string>bN_B_a.glif</string>
	<key>bNDBa</key>
	<string>bN_D_B_a.glif</string>
	<key>bNDRa</key>
	<string>bN_D_R_a.glif</string>
	<key>bNDa</key>
	<string>bN_D_a.glif</string>
	<key>bNDdRa</key>
	<string>bN_D_dR_a.glif</string>
	<key>bNDda</key>
	<string>bN_D_da.glif</string>
	<key>bNDhBa</key>
	<string>bN_D_hB_a.glif</string>
	<key>bNDhRa</key>
	<string>bN_D_hR_a.glif</string>
	<key>bNDha</key>
	<string>bN_D_ha.glif</string>
	<key>bNKTa</key>
	<string>bN_K_T_a.glif</string>
	<key>bNMa</key>
	<string>bN_M_a.glif</string>
	<key>bNNa</key>
	<string>bN_N_a.glif</string>
	<key>bNRa</key>
	<string>bN_R_a.glif</string>
	<key>bNSa</key>
	<string>bN_S_a.glif</string>
	<key>bNTBa</key>
	<string>bN_T_B_a.glif</string>
	<key>bNTRa</key>
	<string>bN_T_R_a.glif</string>
	<key>bNTa</key>
	<string>bN_T_a.glif</string>
	<key>bNTa_bSignU</key>
	<string>bN_T_a_bS_ignU_.glif</string>
	<key>bNThRa</key>
	<string>bN_T_hR_a.glif</string>
	<key>bNTha</key>
	<string>bN_T_ha.glif</string>
	<key>bNTtRa</key>
	<string>bN_T_tR_a.glif</string>
	<key>bNTta</key>
	<string>bN_T_ta.glif</string>
	<key>bNTtha</key>
	<string>bN_T_tha.glif</string>
	<key>bNa</key>
	<string>bN_a.glif</string>
	<key>bNgGa</key>
	<string>bN_gG_a.glif</string>
	<key>bNgGhRa</key>
	<string>bN_gG_hR_a.glif</string>
	<key>bNgGha</key>
	<string>bN_gG_ha.glif</string>
	<key>bNgKRa</key>
	<string>bN_gK_R_a.glif</string>
	<key>bNgKRa.alt</key>
	<string>bN_gK_R_a.alt.glif</string>
	<key>bNgKSsRa</key>
	<string>bN_gK_S_sR_a.glif</string>
	<key>bNgKSsa</key>
	<string>bN_gK_S_sa.glif</string>
	<key>bNgKa</key>
	<string>bN_gK_a.glif</string>
	<key>bNgKha</key>
	<string>bN_gK_ha.glif</string>
	<key>bNgMa</key>
	<string>bN_gM_a.glif</string>
	<key>bNgRa</key>
	<string>bN_gR_a.glif</string>
	<key>bNga</key>
	<string>bN_ga.glif</string>
	<key>bNine</key>
	<string>bN_ine.glif</string>
	<key>bNnBa</key>
	<string>bN_nB_a.glif</string>
	<key>bNnDdRa</key>
	<string>bN_nD_dR_a.glif</string>
	<key>bNnDda</key>
	<string>bN_nD_da.glif</string>
	<key>bNnDdhRa</key>
	<string>bN_nD_dhR_a.glif</string>
	<key>bNnDdha</key>
	<string>bN_nD_dha.glif</string>
	<key>bNnMa</key>
	<string>bN_nM_a.glif</string>
	<key>bNnNna</key>
	<string>bN_nN_na.glif</string>
	<key>bNnRa</key>
	<string>bN_nR_a.glif</string>
	<key>bNnTtRa</key>
	<string>bN_nT_tR_a.glif</string>
	<key>bNnTta</key>
	<string>bN_nT_ta.glif</string>
	<key>bNnTthRa</key>
	<string>bN_nT_thR_a.glif</string>
	<key>bNnTtha</key>
	<string>bN_nT_tha.glif</string>
	<key>bNna</key>
	<string>bN_na.glif</string>
	<key>bNukta</key>
	<string>bN_ukta.glif</string>
	<key>bNyCBa</key>
	<string>bN_yC_B_a.glif</string>
	<key>bNyCa</key>
	<string>bN_yC_a.glif</string>
	<key>bNyCha</key>
	<string>bN_yC_ha.glif</string>
	<key>bNyDha</key>
	<string>bN_yD_ha.glif</string>
	<key>bNyJa</key>
	<string>bN_yJ_a.glif</string>
	<key>bNyJha</key>
	<string>bN_yJ_ha.glif</string>
	<key>bNyRa</key>
	<string>bN_yR_a.glif</string>
	<key>bNya</key>
	<string>bN_ya.glif</string>
	<key>bO</key>
	<string>bO_.glif</string>
	<key>bOne</key>
	<string>bO_ne.glif</string>
	<key>bPLa</key>
	<string>bP_L_a.glif</string>
	<key>bPMa</key>
	<string>bP_M_a.glif</string>
	<key>bPNa</key>
	<string>bP_N_a.glif</string>
	<key>bPPa</key>
	<string>bP_P_a.glif</string>
	<key>bPRa</key>
	<string>bP_R_a.glif</string>
	<key>bPRa_bSignU</key>
	<string>bP_R_a_bS_ignU_.glif</string>
	<key>bPRa_bSignUu</key>
	<string>bP_R_a_bS_ignU_u.glif</string>
	<key>bPSa</key>
	<string>bP_S_a.glif</string>
	<key>bPTRa</key>
	<string>bP_T_R_a.glif</string>
	<key>bPTTa</key>
	<string>bP_T_T_a.glif</string>
	<key>bPTa</key>
	<string>bP_T_a.glif</string>
	<key>bPTta</key>
	<string>bP_T_ta.glif</string>
	<key>bPa</key>
	<string>bP_a.glif</string>
	<key>bPhLa</key>
	<string>bP_hL_a.glif</string>
	<key>bPhRa</key>
	<string>bP_hR_a.glif</string>
	<key>bPhTta</key>
	<string>bP_hT_ta.glif</string>
	<key>bPha</key>
	<string>bP_ha.glif</string>
	<key>bRa</key>
	<string>bR_a.glif</string>
	<key>bRaAssamese</key>
	<string>bR_aA_ssamese.glif</string>
	<key>bRaAssamese_bSignU</key>
	<string>bR_aA_ssamese_bS_ignU_.glif</string>
	<key>bRaAssamese_bSignUu</key>
	<string>bR_aA_ssamese_bS_ignU_u.glif</string>
	<key>bRa_bSignU</key>
	<string>bR_a_bS_ignU_.glif</string>
	<key>bRa_bSignUu</key>
	<string>bR_a_bS_ignU_u.glif</string>
	<key>bRaphala</key>
	<string>bR_aphala.glif</string>
	<key>bReph</key>
	<string>bR_eph.glif</string>
	<key>bRhRa</key>
	<string>bR_hR_a.glif</string>
	<key>bRha</key>
	<string>bR_ha.glif</string>
	<key>bRrGa</key>
	<string>bR_rG_a.glif</string>
	<key>bRrRa</key>
	<string>bR_rR_a.glif</string>
	<key>bRra</key>
	<string>bR_ra.glif</string>
	<key>bRupeesign</key>
	<string>bR_upeesign.glif</string>
	<key>bSBa</key>
	<string>bS_B_a.glif</string>
	<key>bSKRa</key>
	<string>bS_K_R_a.glif</string>
	<key>bSKa</key>
	<string>bS_K_a.glif</string>
	<key>bSKha</key>
	<string>bS_K_ha.glif</string>
	<key>bSLa</key>
	<string>bS_L_a.glif</string>
	<key>bSMa</key>
	<string>bS_M_a.glif</string>
	<key>bSNa</key>
	<string>bS_N_a.glif</string>
	<key>bSPLa</key>
	<string>bS_P_L_a.glif</string>
	<key>bSPRa</key>
	<string>bS_P_R_a.glif</string>
	<key>bSPa</key>
	<string>bS_P_a.glif</string>
	<key>bSPha</key>
	<string>bS_P_ha.glif</string>
	<key>bSRa</key>
	<string>bS_R_a.glif</string>
	<key>bSRa_bSignU</key>
	<string>bS_R_a_bS_ignU_.glif</string>
	<key>bSRa_bSignUu</key>
	<string>bS_R_a_bS_ignU_u.glif</string>
	<key>bSTBa</key>
	<string>bS_T_B_a.glif</string>
	<key>bSTRa</key>
	<string>bS_T_R_a.glif</string>
	<key>bSTa</key>
	<string>bS_T_a.glif</string>
	<key>bSTa_bSignU</key>
	<string>bS_T_a_bS_ignU_.glif</string>
	<key>bSTha</key>
	<string>bS_T_ha.glif</string>
	<key>bSTtRa</key>
	<string>bS_T_tR_a.glif</string>
	<key>bSTta</key>
	<string>bS_T_ta.glif</string>
	<key>bSa</key>
	<string>bS_a.glif</string>
	<key>bSeven</key>
	<string>bS_even.glif</string>
	<key>bShBa</key>
	<string>bS_hB_a.glif</string>
	<key>bShCa</key>
	<string>bS_hC_a.glif</string>
	<key>bShCha</key>
	<string>bS_hC_ha.glif</string>
	<key>bShLa</key>
	<string>bS_hL_a.glif</string>
	<key>bShMa</key>
	<string>bS_hM_a.glif</string>
	<key>bShNa</key>
	<string>bS_hN_a.glif</string>
	<key>bShRa</key>
	<string>bS_hR_a.glif</string>
	<key>bShRa_bSignIi</key>
	<string>bS_hR_a_bS_ignI_i.glif</string>
	<key>bShRa_bSignU</key>
	<string>bS_hR_a_bS_ignU_.glif</string>
	<key>bShRa_bSignUu</key>
	<string>bS_hR_a_bS_ignU_u.glif</string>
	<key>bShTa</key>
	<string>bS_hT_a.glif</string>
	<key>bShTta</key>
	<string>bS_hT_ta.glif</string>
	<key>bSha</key>
	<string>bS_ha.glif</string>
	<key>bSha_bSignU</key>
	<string>bS_ha_bS_ignU_.glif</string>
	<key>bSignAa</key>
	<string>bS_ignA_a.glif</string>
	<key>bSignAi</key>
	<string>bS_ignA_i.glif</string>
	<key>bSignAi.init</key>
	<string>bS_ignA_i.init.glif</string>
	<key>bSignAu</key>
	<string>bS_ignA_u.glif</string>
	<key>bSignE</key>
	<string>bS_ignE_.glif</string>
	<key>bSignE.init</key>
	<string>bS_ignE_.init.glif</string>
	<key>bSignI</key>
	<string>bS_ignI_.glif</string>
	<key>bSignI.2</key>
	<string>bS_ignI_.2.glif</string>
	<key>bSignI.narrow</key>
	<string>bS_ignI_.narrow.glif</string>
	<key>bSignI.wide1</key>
	<string>bS_ignI_.wide1.glif</string>
	<key>bSignI.wide2</key>
	<string>bS_ignI_.wide2.glif</string>
	<key>bSignI.wide3</key>
	<string>bS_ignI_.wide3.glif</string>
	<key>bSignI.wide4</key>
	<string>bS_ignI_.wide4.glif</string>
	<key>bSignI.wide5</key>
	<string>bS_ignI_.wide5.glif</string>
	<key>bSignIi</key>
	<string>bS_ignI_i.glif</string>
	<key>bSignIi.alt</key>
	<string>bS_ignI_i.alt.glif</string>
	<key>bSignIiReph</key>
	<string>bS_ignI_iR_eph.glif</string>
	<key>bSignIiReph.alt</key>
	<string>bS_ignI_iR_eph.alt.glif</string>
	<key>bSignO</key>
	<string>bS_ignO_.glif</string>
	<key>bSignU</key>
	<string>bS_ignU_.glif</string>
	<key>bSignU.alt</key>
	<string>bS_ignU_.alt.glif</string>
	<key>bSignU.alt2</key>
	<string>bS_ignU_.alt2.glif</string>
	<key>bSignUu</key>
	<string>bS_ignU_u.glif</string>
	<key>bSignUu.alt</key>
	<string>bS_ignU_u.alt.glif</string>
	<key>bSignUu.alt2</key>
	<string>bS_ignU_u.alt2.glif</string>
	<key>bSignVocalicL</key>
	<string>bS_ignV_ocalicL_.glif</string>
	<key>bSignVocalicLl</key>
	<string>bS_ignV_ocalicL_l.glif</string>
	<key>bSignVocalicR</key>
	<string>bS_ignV_ocalicR_.glif</string>
	<key>bSignVocalicRr</key>
	<string>bS_ignV_ocalicR_r.glif</string>
	<key>bSix</key>
	<string>bS_ix.glif</string>
	<key>bSsBa</key>
	<string>bS_sB_a.glif</string>
	<key>bSsKRa</key>
	<string>bS_sK_R_a.glif</string>
	<key>bSsKa</key>
	<string>bS_sK_a.glif</string>
	<key>bSsMa</key>
	<string>bS_sM_a.glif</string>
	<key>bSsNna</key>
	<string>bS_sN_na.glif</string>
	<key>bSsPRa</key>
	<string>bS_sP_R_a.glif</string>
	<key>bSsPa</key>
	<string>bS_sP_a.glif</string>
	<key>bSsPha</key>
	<string>bS_sP_ha.glif</string>
	<key>bSsRa</key>
	<string>bS_sR_a.glif</string>
	<key>bSsTtBa</key>
	<string>bS_sT_tB_a.glif</string>
	<key>bSsTtRa</key>
	<string>bS_sT_tR_a.glif</string>
	<key>bSsTta</key>
	<string>bS_sT_ta.glif</string>
	<key>bSsTtha</key>
	<string>bS_sT_tha.glif</string>
	<key>bSsa</key>
	<string>bS_sa.glif</string>
	<key>bTBa</key>
	<string>bT_B_a.glif</string>
	<key>bTLa</key>
	<string>bT_L_a.glif</string>
	<key>bTMa</key>
	<string>bT_M_a.glif</string>
	<key>bTNa</key>
	<string>bT_N_a.glif</string>
	<key>bTRa</key>
	<string>bT_R_a.glif</string>
	<key>bTRa_bSignU</key>
	<string>bT_R_a_bS_ignU_.glif</string>
	<key>bTRa_bSignUu</key>
	<string>bT_R_a_bS_ignU_u.glif</string>
	<key>bTTBa</key>
	<string>bT_T_B_a.glif</string>
	<key>bTTa</key>
	<string>bT_T_a.glif</string>
	<key>bTTha</key>
	<string>bT_T_ha.glif</string>
	<key>bTa</key>
	<string>bT_a.glif</string>
	<key>bThBa</key>
	<string>bT_hB_a.glif</string>
	<key>bThRa</key>
	<string>bT_hR_a.glif</string>
	<key>bThRa_bSignU</key>
	<string>bT_hR_a_bS_ignU_.glif</string>
	<key>bThRa_bSignUu</key>
	<string>bT_hR_a_bS_ignU_u.glif</string>
	<key>bTha</key>
	<string>bT_ha.glif</string>
	<key>bThree</key>
	<string>bT_hree.glif</string>
	<key>bTtBa</key>
	<string>bT_tB_a.glif</string>
	<key>bTtMa</key>
	<string>bT_tM_a.glif</string>
	<key>bTtRa</key>
	<string>bT_tR_a.glif</string>
	<key>bTtTtRa</key>
	<string>bT_tT_tR_a.glif</string>
	<key>bTtTta</key>
	<string>bT_tT_ta.glif</string>
	<key>bTta</key>
	<string>bT_ta.glif</string>
	<key>bTthRa</key>
	<string>bT_thR_a.glif</string>
	<key>bTtha</key>
	<string>bT_tha.glif</string>
	<key>bTwo</key>
	<string>bT_wo.glif</string>
	<key>bU</key>
	<string>bU_.glif</string>
	<key>bUu</key>
	<string>bU_u.glif</string>
	<key>bVaAssamese</key>
	<string>bV_aA_ssamese.glif</string>
	<key>bVaAssameseRa</key>
	<string>bV_aA_ssameseR_a.glif</string>
	<key>bVaAssamese_bSignU</key>
	<string>bV_aA_ssamese_bS_ignU_.glif</string>
	<key>bVaAssamese_bSignUu</key>
	<string>bV_aA_ssamese_bS_ignU_u.glif</string>
	<key>bVirama</key>
	<string>bV_irama.glif</string>
	<key>bVisarga</key>
	<string>bV_isarga.glif</string>
	<key>bVocalicL</key>
	<string>bV_ocalicL_.glif</string>
	<key>bVocalicLl</key>
	<string>bV_ocalicL_l.glif</string>
	<key>bVocalicR</key>
	<string>bV_ocalicR_.glif</string>
	<key>bVocalicRr</key>
	<string>bV_ocalicR_r.glif</string>
	<key>bYRa</key>
	<string>bY_R_a.glif</string>
	<key>bYa</key>
	<string>bY_a.glif</string>
	<key>bYaphala</key>
	<string>bY_aphala.glif</string>
	<key>bYyRa</key>
	<string>bY_yR_a.glif</string>
	<key>bYya</key>
	<string>bY_ya.glif</string>
	<key>bZa</key>
	<string>bZ_a.glif</string>
	<key>bZero</key>
	<string>bZ_ero.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>bar</key>
	<string>bar.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>breve</key>
	<string>breve.glif</string>
	<key>brokenbar</key>
	<string>brokenbar.glif</string>
	<key>bullet</key>
	<string>bullet.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>cacute</key>
	<string>cacute.glif</string>
	<key>caron</key>
	<string>caron.glif</string>
	<key>ccaron</key>
	<string>ccaron.glif</string>
	<key>ccedilla</key>
	<string>ccedilla.glif</string>
	<key>cedilla</key>
	<string>cedilla.glif</string>
	<key>cent</key>
	<string>cent.glif</string>
	<key>circumflex</key>
	<string>circumflex.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>copyright</key>
	<string>copyright.glif</string>
	<key>currency</key>
	<string>currency.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>dagger</key>
	<string>dagger.glif</string>
	<key>daggerdbl</key>
	<string>daggerdbl.glif</string>
	<key>dcaron</key>
	<string>dcaron.glif</string>
	<key>dcroat</key>
	<string>dcroat.glif</string>
	<key>degree</key>
	<string>degree.glif</string>
	<key>dieresis</key>
	<string>dieresis.glif</string>
	<key>divide</key>
	<string>divide.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>dotaccent</key>
	<string>dotaccent.glif</string>
	<key>dotlessi</key>
	<string>dotlessi.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>eacute</key>
	<string>eacute.glif</string>
	<key>ecaron</key>
	<string>ecaron.glif</string>
	<key>ecircumflex</key>
	<string>ecircumflex.glif</string>
	<key>edieresis</key>
	<string>edieresis.glif</string>
	<key>edotaccent</key>
	<string>edotaccent.glif</string>
	<key>egrave</key>
	<string>egrave.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>ellipsis</key>
	<string>ellipsis.glif</string>
	<key>emacron</key>
	<string>emacron.glif</string>
	<key>emdash</key>
	<string>emdash.glif</string>
	<key>endash</key>
	<string>endash.glif</string>
	<key>eogonek</key>
	<string>eogonek.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>eth</key>
	<string>eth.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>exclamdown</key>
	<string>exclamdown.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>fi</key>
	<string>fi.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>fl</key>
	<string>fl.glif</string>
	<key>florin</key>
	<string>florin.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>fraction</key>
	<string>fraction.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>gbreve</key>
	<string>gbreve.glif</string>
	<key>germandbls</key>
	<string>germandbls.glif</string>
	<key>grave</key>
	<string>grave.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>greaterequal</key>
	<string>greaterequal.glif</string>
	<key>guillemotleft</key>
	<string>guillemotleft.glif</string>
	<key>guillemotright</key>
	<string>guillemotright.glif</string>
	<key>guilsinglleft</key>
	<string>guilsinglleft.glif</string>
	<key>guilsinglright</key>
	<string>guilsinglright.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>hungarumlaut</key>
	<string>hungarumlaut.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>iacute</key>
	<string>iacute.glif</string>
	<key>icircumflex</key>
	<string>icircumflex.glif</string>
	<key>idieresis</key>
	<string>idieresis.glif</string>
	<key>igrave</key>
	<string>igrave.glif</string>
	<key>imacron</key>
	<string>imacron.glif</string>
	<key>infinity</key>
	<string>infinity.glif</string>
	<key>integral</key>
	<string>integral.glif</string>
	<key>iogonek</key>
	<string>iogonek.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>lacute</key>
	<string>lacute.glif</string>
	<key>lcaron</key>
	<string>lcaron.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>lessequal</key>
	<string>lessequal.glif</string>
	<key>logicalnot</key>
	<string>logicalnot.glif</string>
	<key>lozenge</key>
	<string>lozenge.glif</string>
	<key>lslash</key>
	<string>lslash.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>macron</key>
	<string>macron.glif</string>
	<key>minus</key>
	<string>minus.glif</string>
	<key>multiply</key>
	<string>multiply.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>nacute</key>
	<string>nacute.glif</string>
	<key>ncaron</key>
	<string>ncaron.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>notequal</key>
	<string>notequal.glif</string>
	<key>ntilde</key>
	<string>ntilde.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>oacute</key>
	<string>oacute.glif</string>
	<key>ocircumflex</key>
	<string>ocircumflex.glif</string>
	<key>odieresis</key>
	<string>odieresis.glif</string>
	<key>oe</key>
	<string>oe.glif</string>
	<key>ogonek</key>
	<string>ogonek.glif</string>
	<key>ograve</key>
	<string>ograve.glif</string>
	<key>ohungarumlaut</key>
	<string>ohungarumlaut.glif</string>
	<key>omacron</key>
	<string>omacron.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>onehalf</key>
	<string>onehalf.glif</string>
	<key>onequarter</key>
	<string>onequarter.glif</string>
	<key>ordfeminine</key>
	<string>ordfeminine.glif</string>
	<key>ordmasculine</key>
	<string>ordmasculine.glif</string>
	<key>oslash</key>
	<string>oslash.glif</string>
	<key>otilde</key>
	<string>otilde.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>paragraph</key>
	<string>paragraph.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>partialdiff</key>
	<string>partialdiff.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>periodcentered</key>
	<string>periodcentered.glif</string>
	<key>perthousand</key>
	<string>perthousand.glif</string>
	<key>pi</key>
	<string>pi.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>plusminus</key>
	<string>plusminus.glif</string>
	<key>product</key>
	<string>product.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>questiondown</key>
	<string>questiondown.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotedblbase</key>
	<string>quotedblbase.glif</string>
	<key>quotedblleft</key>
	<string>quotedblleft.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>quotesinglbase</key>
	<string>quotesinglbase.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>racute</key>
	<string>racute.glif</string>
	<key>radical</key>
	<string>radical.glif</string>
	<key>rcaron</key>
	<string>rcaron.glif</string>
	<key>registered</key>
	<string>registered.glif</string>
	<key>ring</key>
	<string>ring.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>sacute</key>
	<string>sacute.glif</string>
	<key>scaron</key>
	<string>scaron.glif</string>
	<key>section</key>
	<string>section.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>sterling</key>
	<string>sterling.glif</string>
	<key>summation</key>
	<string>summation.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>tcaron</key>
	<string>tcaron.glif</string>
	<key>thorn</key>
	<string>thorn.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>threequarters</key>
	<string>threequarters.glif</string>
	<key>tilde</key>
	<string>tilde.glif</string>
	<key>trademark</key>
	<string>trademark.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>uacute</key>
	<string>uacute.glif</string>
	<key>ucircumflex</key>
	<string>ucircumflex.glif</string>
	<key>udieresis</key>
	<string>udieresis.glif</string>
	<key>ugrave</key>
	<string>ugrave.glif</string>
	<key>uhungarumlaut</key>
	<string>uhungarumlaut.glif</string>
	<key>umacron</key>
	<string>umacron.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>uni00AD</key>
	<string>uni00A_D_.glif</string>
	<key>uni00B2</key>
	<string>uni00B_2.glif</string>
	<key>uni00B3</key>
	<string>uni00B_3.glif</string>
	<key>uni00B5</key>
	<string>uni00B_5.glif</string>
	<key>uni00B9</key>
	<string>uni00B_9.glif</string>
	<key>uni0122</key>
	<string>uni0122.glif</string>
	<key>uni0123</key>
	<string>uni0123.glif</string>
	<key>uni0136</key>
	<string>uni0136.glif</string>
	<key>uni0137</key>
	<string>uni0137.glif</string>
	<key>uni013B</key>
	<string>uni013B_.glif</string>
	<key>uni013C</key>
	<string>uni013C_.glif</string>
	<key>uni0145</key>
	<string>uni0145.glif</string>
	<key>uni0146</key>
	<string>uni0146.glif</string>
	<key>uni0156</key>
	<string>uni0156.glif</string>
	<key>uni0157</key>
	<string>uni0157.glif</string>
	<key>uni015E</key>
	<string>uni015E_.glif</string>
	<key>uni015F</key>
	<string>uni015F_.glif</string>
	<key>uni0162</key>
	<string>uni0162.glif</string>
	<key>uni0163</key>
	<string>uni0163.glif</string>
	<key>uni0218</key>
	<string>uni0218.glif</string>
	<key>uni0219</key>
	<string>uni0219.glif</string>
	<key>uni021A</key>
	<string>uni021A_.glif</string>
	<key>uni021B</key>
	<string>uni021B_.glif</string>
	<key>uni02C9</key>
	<string>uni02C_9.glif</string>
	<key>uni0326</key>
	<string>uni0326.glif</string>
	<key>uni20BA</key>
	<string>uni20B_A_.glif</string>
	<key>uni20BD</key>
	<string>uni20B_D_.glif</string>
	<key>uni2113</key>
	<string>uni2113.glif</string>
	<key>uni2126</key>
	<string>uni2126.glif</string>
	<key>uni2206</key>
	<string>uni2206.glif</string>
	<key>uni2215</key>
	<string>uni2215.glif</string>
	<key>uni2219</key>
	<string>uni2219.glif</string>
	<key>uogonek</key>
	<string>uogonek.glif</string>
	<key>uring</key>
	<string>uring.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>yacute</key>
	<string>yacute.glif</string>
	<key>ydieresis</key>
	<string>ydieresis.glif</string>
	<key>yen</key>
	<string>yen.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>zacute</key>
	<string>zacute.glif</string>
	<key>zcaron</key>
	<string>zcaron.glif</string>
	<key>zdotaccent</key>
	<string>zdotaccent.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
</dict>
</plist>
